<div class="container">
	
	<h1>Recapilatif de commande</h1>
	<hr>
	<%= @categoryAndSubCategory %>
	<hr>
	<%= @produitList %>
	<hr>
	<%= @departement %><br>
	<%= @pays %><br>
	<%= @adresse %><br>
	<%= @date %><br>
	<%= @heure %><br>
	<%= @message %>
	<hr>
	<%= @priceTotal %>
	<hr>
</div>
