<%= javascript_pack_tag 'delete' %>
<br><br><br><br>
<div class="container">
	<h1>Recapitulatif de commande: Reservation Massage</h1>
	<h2>Prestations</h2>
	<% @categoryAndSubCategory.each do |category| %>
		<div class="prestation">
			<li><%= category[0].name %></li>
			<ul>
			<% category[ 1 .. category.length-1 ].each do |subcategory| %>
				<li><%= subcategory.name %>: <%= subcategory.price %> €</li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<hr>

	<h2>Produits</h2>
	<% @produitList.each do |produit| %>
		<%= produit[1].name %> : <%= produit[0] %> x <%= produit[1].price %> € = <%= (produit[1].price*produit[0]).round(2) %> €<br>
	<% end %>
	
	<hr>
	<h2>Autre information</h2>
	pays : <%= @pays.name %> <br>
	departement : <%= @departement.namedepartment %> <br>
	adresse : <%= @adresse %> <br>
	date : <%= @date %> <br>
	heurs : <%= @heure %> <br>
	<hr>
	
	<%= form_tag validation_index_path do %>
	  <article>
	    <% if flash[:error].present? %>
	      <div id="error_explanation">
	        <p><%= flash[:error] %></p>
	      </div>
	    <% end %>
	    <label class="amount">
	      <span>Prix Total: <%= @priceTotal %> € + Un Acompte de 20 € = <%= @priceTotal+20 %> €</span>
	    </label>
	  </article>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Paiement"
	          data-amount="<%= (@priceTotal*100 + 2000).to_i %> €"
	          data-currency="eur"
	          data-locale="auto">
	   </script>
	<% end %>

</div>
<br><br><br><br>
