<%
=begin%>
 RONICK A, EO NY CODENLA ATAO 
<%
=end%>

    <!--  DEBUT SECTION COMMENT ca MARCHE  -->

            <!-- CODE à inserer -->
            <section class="container-fluid clearfix aboutSection patternbg">
              <div class="aboutInner">
                <div class="sepcialContainer">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 rightPadding">
                      <div class="imagebox ">
                        <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="aboutInfo">
                        <h2>1 - RESERVATION</h2>
                        <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                          trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
                          <br/>
                          <br/>
                          <p style="text-align: center">
                            <%= link_to  "RESERVER", "#", class:"btn btn-common btn-full-round btn-theme"%>
                          </P>
                      </div>
                    </div>
                        
                  </div>
                </div>
              </div>
            </section>

            <section class="container-fluid clearfix aboutSection patternbg">
              <div class="aboutInner2">
                <div class="sepcialContainer">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 gauche">
                      <div class="aboutInfo">
                        <h2>2 - LIVRAISON</h2>
                        <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                          trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
                          <br/>
                          <br/>
                          <p style="text-align: center">
                            <%= link_to  "ZONES de LIVRAISON", "#", class:"btn btn-common btn-full-round btn-theme"%>
                          </P>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 rightPadding">
                      <div class="imagebox2 ">
                        <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
    
    
    <!-- FIN SECTION COMMENT ca MARCHE  -->


    <section class="container-fluid clearfix aboutSection patternbg">
      <div class="aboutInner">
        <div class="sepcialContainer">
          <div class="row">
            <div class="col-sm-6 col-xs-12 rightPadding">
              <div class="imagebox ">
                <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="aboutInfo">
                <h2>3 - INSTALLATION</h2>
                <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                  trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
              
                  <br/>
                          <br/>
                          <p style="text-align: center">
                            <%= link_to  "EN SAVOIR PLUS", "#", class:"btn btn-common btn-full-round btn-theme"%>
                          </P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="container-fluid clearfix aboutSection patternbg">
      <div class="aboutInner2">
        <div class="sepcialContainer">
          <div class="row">
            <div class="col-sm-6 col-xs-12 gauche">
              <div class="aboutInfo">
                <h2>4 - DETENTE</h2>
                <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                  trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
              
                  <br/>
                          <br/>
                          <p style="text-align: center">
                            <%= link_to  "GALERIE PHOTOS", "#", class:"btn btn-common btn-full-round btn-theme"%>
                          </P>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 rightPadding">
              <div class="imagebox2 ">
                <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>



    <section class="container-fluid clearfix aboutSection patternbg">
      <div class="aboutInner">
        <div class="sepcialContainer">
          <div class="row">
            <div class="col-sm-6 col-xs-12 rightPadding">
              <div class="imagebox ">
                <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="aboutInfo">
                <h2>5 - DESINSTALLATION</h2>
                <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                  trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
              
                  <br/>
                          <br/>
                          <p style="text-align: center">
                            <%= link_to  "EN SAVOIR PLUS", "#", class:"btn btn-common btn-full-round btn-theme"%>
                          </P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>