<% content_for :head do %>
  <title>Cocooning Spa : Location de Jacuzzi / Spa gonflable à domicile</title>
  <meta name="description" content="Profitez des tarifs abordables de location de jacuzzi spa gonflable à domicile en France, Belgique, Luxembourg, Suisse, Maroc, Tunisie et Algérie de cocooningspa.com, spa gonflable pour un week-end en amoureux, spa entre filles, soirée jacuzzi privatif en toute tranquillité chez soi"/>
<% end %>

<% content_for :h1 do %>
  <h1 style="position: absolute;opacity: 0;z-index: -1">
  Louez votre spa / jacuzzi à domicile
  </h1>
<% end %>

<link href="/css/page-devise.css" rel="stylesheet">
<link href="/css/accordeon-index.css" rel="stylesheet">
<link href="/css/massage.css" rel="stylesheet">
<link href="/css/avisslider.css" rel="stylesheet">


<style>
  /* Mise en page du texte*/
  .form-group i{
    color: #ec5598;
    position: absolute;
    right: 10px;
    top:15px;
    font-size: 25px;
  }
  #slideText{
    color:white !important;
  }
  .texte-baniere{
    color:black !important;
    
    position:relative; 
    left:5px!important;
    font-family: Lato, 'Open Sans' !important;
  }

  /* font texte N de texte-baniere*/
  .texte-baniere b{
    font-size:25px;
    font-family:Lato, Open Sans, serif!important;
  }


  /* font texte du titre de texte-baniere*/
  .poli1{
    color:black !important;
    font-family:Lato, Roboto!important;
    font-size: 20px !important;
  }
  .poli1blanc{
    color:white !important;
    font-family:Lato, Roboto!important;
    font-size: 20px !important;
  }

  /* font bouton (massage domicile/location spa) de nos services*/
  .mass{
    border-radius: 10px;
    color:white!important;
  }


  @media (min-width: 320px) {

    .secotionTitle h2 span {
      display: block;
      letter-spacing: normal;
      color: #ec5598;
      font-family: Quicksand, 'Open Sans'!important;
      font-size: 45px !important;
      letter-spacing: 4px;
      line-height: 42px;
      text-transform: capitalize;
      font-weight: bold;
      padding-bottom: 25px;
    }
  }

  @media (min-width: 768px) {
    .secotionTitle h2 span {
      display: block;
      letter-spacing: normal;
      color: #ec5598;
      font-family: Quicksand, 'Open Sans'!important;
      font-size: 90px;
      letter-spacing: 4px;
      line-height: 42px;
      text-transform: capitalize;
      font-weight: bold;
      padding-bottom: 25px;
      padding-top: 25px;
    }
  }
  .police_massage{

    font-family: Quicksand, fantasy;
    z-index: -4;
  }
</style>


<!-- MAIN SLIDER -->
<section class="main-slider" data-loop="true" data-autoplay="true" data-interval="7000">
  <div class="inner">

    <!-- Slide two -->
    <div class="slide slideResize slide3" style="background-image: url(img/home/slide-2.gif);opacity:0.75;">
      <div class="container">
        <div class="common-inner slide-inner3  texte-baniere col-12 col-md-7">
          <!--<img src="img/favicon.png" alt="Logo Icon" class="img-responsive">-->  <!-- ICONE -->
          <span class="h1 from-bottom poli1blanc">
            <div class="secotionTitle">
              <h2 class="policeBaniere"><span style="text-transform: none;color:white;text-align: left;line-height: 1.25;">Louez votre spa/jacuzzi à domicile en un clic !</span></h2>
            </div>

          </span><br>
          
          <div class="baniere-btnbis">
            <a href="<%= reservation_path %>"class="btn btn-primary first-btn waves-effect waves-light scale-up " id="first-btn" >Réserver</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide two -->
    <div class="slide slideResize slide3" style="background-image: url(img/home/slide-3.gif);opacity:0.75;">
      <div class="container">
        <div class="common-inner slide-inner3  texte-baniere col-12 col-md-7">
          <!--<img src="img/favicon.png" alt="Logo Icon" class="img-responsive">-->  <!-- ICONE -->
          <span class="h1 from-bottom poli1blanc">
            <div class="secotionTitle">
              <h2 class="policeBaniere"><span style="text-transform: none;color:white;text-align: left;line-height: 1.25;">Bookez votre Massage et sentez-vous au top ! </span></h2>
            </div>

          </span><br>
          
          <div class="baniere-btnbis">
            <a href="<%= reservation_path %>"class="btn btn-primary first-btn waves-effect waves-light scale-up " id="first-btn" >Réserver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- SECTION CCSPA-->
<section class="clearfix reviewSection patternbg">
  <div class="container">
    <div class="secotionTitle">
    </div>
    <div class="col-sm-10 col-xs-12">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
          <div class="reviewImage reviewImageCcspa hidden-xs">
            <img src="/img/logo-ccspa.png" alt="Image review" class="img-responsive" alt="Massage">
          </div>
          <div class="reviewInfo">
            <center class="sansfa">Bienvenue chez Cocooning Spa !</center>
            <p class="text-p-bienvenu text-index-ok">La plateforme web n°1 en Europe au service de votre détente.
            Notre mission est de vous permettre de réserver en deux clics des prestations de bien-être à domicile et de vous inciter à passer du bon temps et à penser à vous. </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- SERVICES SECTION -->
<section class="clearfix reviewSection patternbg">
  <div class="container">
    <div class="secotionTitle">
      <h2 id="service" class="poli1 police_massage"><span>Nos services </span></h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
            <div class="reviewImage reviewImageCcspaService hidden-xs">
              <img src="img/home/Page_Accueil_BlocLocSpa.jpg" alt="Image review" class="img-responsive" alt="Massage">
            </div>
            <div class="reviewInfo service-single">
              <center class="sansfa">Location spa à domicile</center>
              <p class="text-p-index text-index-ok text-p-index-ok"> Un concept inédit et original : nous installons et mettons en service un jacuzzi gonflable sur le lieu de votre choix afin de vous faire vivre un moment qui vous apportera à coup sûr détente, bien-être et convivialité. <br>
                En été comme en hiver, en intérieur ou en extérieur, n’hésitez plus et tentez cette expérience unique en couple, entre amis ou encore en famille. <br>
                Louer un spa/jacuzzi à domicile, c’est maintenant possible avec Cocooning Spa ! <br><br>
              </p> 
              <div class="a-btn btn-a">
               <%= link_to "Je découvre", spa_path, class:"btn btn-primary first-btn mass text-btn", 'data-method':'GET' %>

             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
          <div class="reviewImage reviewImageCcspaService hidden-xs">
            <img src="img/home/Massage.png" alt="Image review" class="img-responsive">
          </div>
          <div class="reviewInfo">
            <center class="sansfa">Massage à domicile</center>
            <p class="text-p-index text-index-ok text-p-index-ok">Imaginez profiter d’un massage sans avoir à vous déplacer ou à attendre... Ça donne envie, non ? Avec Cocooning Spa, ce rêve devient réalité : c'est le bien-être qui vient à vous au moment où vous l'avez décidé. Que ce soit pour un massage classique, sportif ou encore relaxant, vous pouvez réserver celui-ci quand vous voulez. Commandez en quelques secondes un massage de qualité à domicile, à l’hôtel, au bureau, dans un parc, à la plage... Il est temps que le monde du massage s’adapte aux consommateurs !</p>
            <div class="a-btn btn-a">
             <%= link_to "Je découvre", massage_path, class:"btn btn-primary first-btn mass text-btn", 'data-method':'GET' %>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</section>


<!-- comment ca marche SECTION -->
<section class="container-fluid clearfix productArea">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Comment</span>ça marche ?</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage produtImageCcspa">
            <img src="img/Reserver.gif" alt="Image Product" class="img-responsive">
            <div class="productMas"></div>
          </div>
          <div class="productCaption">
            <p class="ccm">Réservez vos prestations bien-être en <br>un clic partout en France, Belgique, Luxembourg et Suisse.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage produtImageCcspa">
            <img src="img/disponible.gif" alt="Image Product" class="img-responsive">
            <div class="productMas"></div>
          </div>
          <div class="productCaption">
            <p class="ccm">Nos services sont disponibles de 8h à 22h, tous les jours de l’année, même au dernier moment ! On s’adapte à vous</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage produtImageCcspa">
            <img src="img/Relaxez.gif" alt="Image Product" class="img-responsive">
            <div class="productMas"> </div>
          </div>
          <div class="productCaption">
            <p class="ccm">Vous vous relaxez ! <br>Vous n’avez plus qu’à vous détendre et à profiter de l’instant présent !</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT SECTION -->
  <section class="clearfix reviewSection patternbg">
    <div class="container">
      <div class="secotionTitle">
        <h2 id="a-propos" class="police_massage"><span>À propos </span>de nous</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-2 col-xs-12 reviewInner" id="about-us">
              <div class="reviewInfo reviewinfocontact">
                <center><i class="fa aboutus" aria-hidden="true"> QUI SOMMES-NOUS ?</i></center>
                <p class="text-p-index text-index-ok">Cocooning Spa est une start-up française qui propose LA solution aux personnes intéressées par les prestations de bien-être à domicile. Nous vous proposons une plateforme web sur laquelle vous pouvez commander en quelques secondes une location de spa/jacuzzi ou un massage sur le lieu de votre choix et au moment voulu. <span id="lirelasuite" style="display:none;"> Une flexibilité sans égale. Cocooning Spa surfe sur une nouvelle tendance de consommation, celle du plaisir immédiat et sans restriction. 
                Nous entendons bien, à travers ce concept totalement novateur, révolutionner l’univers du bien-être. </span> <a href="javascript:void(0)" class="lire-btn" id="more" aria-hidden="true" onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';">lire la suite</a href="">
                </p>
                <div class="a-btn">
                  <%= link_to "En savoir plus", propos_path, class:"btn btn-primary first-btn mass text-btn", 'data-method':'GET'%>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-xs-12 reviewInner">
              <div class="reviewInfo reviewinfocontact2">
                <center><i class="fa aboutus" aria-hidden="true">DEVENEZ PARTENAIRE</i></center>
                <p class="text-p-index text-index-ok">Vous êtes déjà professionnel dans le domaine du massage ou de la location de spa ? Vous n’êtes pas encore en activité et vous souhaitez vous lancer, devenir indépendant ? Cocooning Spa est le tremplin qu’il vous faut. Nous avons besoin de partenaires comme vous ! <br>
                Alors rejoignez vous aussi l’aventure Cocooning Spa.</p>
                <div class="a-btn">
                 <%= link_to "En savoir plus", partner_path, class:"btn btn-primary first-btn mass text-btn", 'data-method':'GET' %>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


 <!-- NOS ENGAGEMENTS -->
 <div class="secotionTitle">
  <h2 id="contacter" class="police_massage"><span>Nos engagements</span></h2>
</div>
<section class="clearfix contactSection contactSectionEngagement">
  <div class="container">
    <div class="row">
      <center class="col-sm-6 sm6-index sm6-index-mobile">

        <div class='ccm-index'>
          <b><span><i class="fa fa-check-square-o" aria-hidden="true" id="ok"></i><br></span> Ecoute, disponibilité & réactivité</b>
        </div>
        <p class='text-p-index bloc-engagement'>De la réservation jusqu’au suivi de votre satisfaction, nous comptons bien vous cocooner.</p>

      </center>
      <center class="col-sm-6 sm6-index">
        <div class="ccm-index">
          <b><span><i class="fa fa-thum" aria-hidden="true" id="ok">              <img src="img/home/professionnel.png" alt="Image Partner">
          </i> <br></span> Professionnels sélectionnés, formés et diplômés</b>
        </div>
        <p class='text-p-index bloc-engagement'>Toutes nos prestations sont réalisées par des professionnels sélectionnés, formés et diplômés. Ils s’occuperont de vous avec talent et gentillesse !</p>
      </center>
    </div>

    <div class="row">
      <center class="col-sm-6">
        <div class="ccm-index">
          <b><span><i class="fa fa-lock" aria-hidden="true" id="ok"></i><br></span> Paiement CB sécurisé </b>
        </div>
        <p class='text-p-index bloc-engagement'>Grâce à nos partenaires Mercanet by BNP Paribas et Paypal, vous pourrez commander en toute tranquillité. Nous vous demandons seulement un acompte lors de votre réservation en ligne, puis le reste du paiement se fait directement sur place auprès du professionnel.</p>
      </center>
      <center class="col-sm-6">

        <div class="ccm-index">
          <b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/cible.png" alt="Image Partner"></i><br></span> Prestations sur mesure </b>
        </div>
        <p class='text-p-index bloc-engagement'>C’est vous qui choisissez votre prestation et vos horaires, nous qui nous adaptons. Vous pouvez personnaliser votre moment en fonction de vos envies.</p>


      </center>

    </div>  
  </div>
</section>


<!-- ZONE CONCERNES -->
<section class="clearfix brandArea patternbg">
  <div class="container">
    <div class="secotionTitle section-index1" id="zoneaction">
      <h2 id="a-propos" class="police_massage"><span>Où bénéficier </span>de nos services ?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="img/home/france.png" alt="Image Partner">
            </div>
          </div>  
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="img/home/luxembourg.png" alt="Image Partner">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img src="img/home/belgique.png" alt="Image Partner">
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo suisse clearfix">
              <img src="img/home/suisse.png" alt="Image Partner">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <center>Nos services sont disponibles partout en France, Belgique, Luxembourg & Suisse. Alors n’attendez plus, nous ne sommes pas loin de chez vous ! <br><br>
          <div class="accordion">
            <div class="heading"><b>DÉCOUVRIR NOS SERVICES</b></div>
            <div class="contents">
              <ul>
                <li><b><a href="<%=spa_path%>" data-method="GET">JACUZZI À DOMICILE</a></b></li> <br>
                <li><b><a href="<%=massage_path%>" data-method="GET">MASSAGE À DOMICILE</a></b></li>
              </ul>

            </div>
          </div>
        </center>
      </div>
    </div>
  </div>
</section>


<!-- avis SECTION -->
<section class="container-fluid clearfix productArea patternbg">
  <div class="secotionTitle section-index2" id="avis">
    <h2 class="police_massage"><span>Nos clients</span>partagent leur expérience</h2>
  </div>

</section>

<div id="slider">
  <a href="javascript:void(0)" class="control_next">></a>
  <a href="javascript:void(0)" class="control_prev"><</a>

  <ul>
    <% @commentsAccueil.each do |comment| %>
    <li>
     <p class='comments'>
      <i class="stars" aria-hidden="true" id="iconetitle1"></i> <br>
      <%=comment.content%> <br>
      <i class="commentataire"><%=comment.user_name%></i>
    </p>
  </li>
  <%end%>
</ul>  
</div>


<!-- CONTACT US SECTION -->
<section class="container-fluid clearfix productArea patternbg">

  <div class="secotionTitle section-index3">
    <h2 class="police_massage"><span>Besoin d’infos ?</span>Des questions ?</h2>
  </div>

</div>
</section>

<section class="clearfix contactSection">
  <div class="container">
    <div class="secotionTitle">
      <div class="row">
        <div class='textsectioncontact'>Vous êtes un <i><strong>particulier</strong></i> et souhaitez échanger avec nous ? <br>Vous êtes une <i><strong>entreprise</strong></i>, une <i><strong>piscine</strong></i>, une <i><strong>agence évènementielle</strong></i>, un <i><strong>service de conciergerie</strong></i>, <i><strong>organisateur d’événements, <br>Comité d’Entreprise</strong></i>, etc ... ? Nous pouvons adapter nos prestations sur mesure pour vos clients ou vos salariés.</div>
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="contactTitle">
            <h3></br></h3>
          </div>

          <div class="contactForm">
            <div id="alert"></div><!--Response Holder-->

            <%= form_tag(save_message_path) do %>
            <div class="form-group form-group-accueil">
              <i title="(obligatoire)" aria-hidden="true">*</i> 
              <input type="text" name="first_name" class="form-control" placeholder="Votre prénom" required>

            </div>
            <div class="form-group form-group-accueil">
              <i title="(obligatoire)" aria-hidden="true" >*</i> 

              <input type="text" name="last_name" class="form-control" placeholder="Votre nom" required>
            </div>
            <div class="form-group form-group-accueil">
              <i title="(obligatoire)" aria-hidden="true">*</i> 

              <input type="email" name="email" class="form-control" placeholder="Votre email" required>
            </div>
            <div class="form-group form-group-accueil">
              <i title="(obligatoire)" aria-hidden="true">*</i> 

              <input type="text" name="mobile" class="form-control" placeholder="Votre mobile" required>
            </div>
            <div class="form-group form-group-accueil"> 
              <input type="text" name="corp_name" class="form-control" placeholder="Nom entreprise"> <br>
            </div>
            <div class="form-group form-group-accueil">
              <i title="(obligatoire)" aria-hidden="true" >*</i> 

              <textarea class="form-control" name="content" placeholder="Dîtes-nous tout !" required></textarea> 
              <span title="(obligatoire)" aria-hidden="true" style="color: #ec5598;position: absolute;right: 0px; font-style: italic;">* champs obligatoires</span> 
            </div>
            <div class="form-group form-group-accueil">
              <%= submit_tag("Envoyer", class:"btn btn-primary first-btn", id:"contact-submit-btn")%> 
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12">

          <div class="holdingInfo patternbg">
            <div class="contactTitle">
              <center><h3>&nbsp;&nbsp;Suivez-nous</h3></center>
            </div>
            <ul>
              <a href="https://www.facebook.com/cocooningspaev/" target="_blank" class="btn"><li><i class="fa icon" aria-hidden="true">
                <img src="/img/icon-reseau-social/facebook.png" alt="">
              </i> Cocooning Spa officiel </li></a>
              <a href="https://www.instagram.com/cocooningspaev/?hl=fr" target="_blank" class="btn"><li><i class="fa icon" aria-hidden="true"> 
                <img src="/img/icon-reseau-social/instagram.png" alt="">
              </i> Cocooning Spa </li></a>
              <a href="https://www.snapchat.com/add/cocooningspaev" target="_blank" class="btn"> <li><i class="fa icon" aria-hidden="true">
                <img src="/img/icon-reseau-social/snapchat.png" alt="">
              </i> Cocooning Spa snapchat</li> </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= javascript_pack_tag 'index-js' %>

