<link href="/css/partner.css" rel="stylesheet">
<link href="/css/page-devise.css" rel="stylesheet">
<div class="container" style="background: white;">

	<section class="clearfix pageTitleArea" style="background-image: url(img/blog/pageTitle-bg.jpg);">
		<div class="pageTitle">
			<div class="secotionTitle">
				<h2 class="policeBaniere"><span>Cocooning Spa ... <br>est le tremplin qu’il vous faut !</span><em class="titlePartner">Développer votre clientèle et augmenter votre CA ne sera plus un souci !</em></h2>
			</div>
		</div>
	</section>

	<div class="secotionTitle contactTitle">
		<h2 class="police_massage"><span>Devenir partenaire Cocooning Spa</span></h2>
	</div>
	<div class="section1">
		<p class="p-partner">
			<i><strong>Vous êtes déjà professionnels dans le domaine du massage ou de la location de spa et cherchez à développer votre activité ? </strong></i> <br>
			En rejoignant Cocooning Spa, la première plateforme de mise en relation entre professionnels du bien-être et clients, vous pourrez non seulement travailler où vous voulez, quand vous voulez, mais également vous assurer un revenu attractif. Grâce à Cocooning Spa, vous ne vous souciez de rien, plus besoin de chercher de clients ! <br> <br>

			<i><strong>Vous n’êtes pas encore en activité et vous souhaitez vous lancer, devenir indépendant ?</strong></i>  <br>Ne perdez plus de temps, contactez-nous pour connaître nos solutions pour devenir rapidement votre propre patron.
		</p>
	</div>

	<!-- SECTION2 -->
	<div class="secotionTitle contactTitle">
		<h2 class="police_massage"><span>Les Plus du partenariat</span></h2>
	</div>
	<div class="row">
		<center class="col-sm-3">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/Gratuit.png" alt="Image Partner"></i><br></span>Gratuit</b>
			</div>
		</center>
		<center class="col-sm-3">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/remuneration.png" alt="Image Partner"></i><br></span>Rémunération attractive </b>
			</div>
		</center>
		<center class="col-sm-3">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/relation.png" alt="Image Partner"></i><br></span>Mise en relation clients</b>
			</div>
		</center>
		<center class="col-sm-3">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/independance.png" alt="Image Partner"></i><br></span>Indépendance totale</b>
			</div>
		</center>
	</div>

	<!-- SECTION3 -->
	<div class="secotionTitle contactTitle">
		<h2 class="police_massage"><span>Les conditions pour devenir partenaire</span></h2>
	</div>

	<div class="row">
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/1.png" alt="Image Partner"></i><br></span>Être majeur et avoir un statut d’indépendant</b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/2.png" alt="Image Partner"></i><br></span>Posséder une assurance RC professionnelle </b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/3.png" alt="Image Partner"></i><br></span>Être diplôme ou formé dans votre domaine d’activité</b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/4.png" alt="Image Partner"></i><br></span>Avoir la matériel et équipement nécessaire pour effectuer les prestations de votre domaine d’activité</b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/5.png" alt="Image Partner"></i><br></span>Être prêt a vous déplacer dans des zones prédéfinies</b>
			</div>
		</center>
	</div>

	<!-- SECTION4 -->
	<div class="secotionTitle contactTitle">
		<h2 class="police_massage"><span>Comment ça marche ?</span></h2>
	</div>
	<div class="row">
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/inscription.png" alt="Image Partner"></i><br></span>Je m’inscris sur la plateforme</b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/activite-zoneaction.png" alt="Image Partner"></i><br></span>Je choisis mon activité & définis mes zones d’action</b>
			</div>
		</center>
		<center class="col-sm-4">
			<div class="ccm-index">
				<b><span><i class="fa fa-cl" aria-hidden="true" id="ok"><img src="img/home/proposition.png" alt="Image Partner"></i><br></span>Je reçois des propositions de commande <br>que je suis libre d’accepter ou de refuser</b>
			</div>
		</center>
	</div>

	<!-- SECTION5 -->
	<div class="secotionTitle contactTitle">
		<h2 class="police_massage"><span>Rejoignez l’aventure Cocooning Spa </span>dès maintenant !</h2>
	</div>

	<%= form_tag(save_partner_path) do %>

		<div class="row">
			
			<% if flash[:list_message_errors] %>
			<div class="alert alert-danger">
				<% flash[:list_message_errors].each do |message| %>
					<li><%= message %></li>
				<% end %>
			</div>
			<% end %>
			<div class="col-sm-12">
				<div class="switch-field">
					<input type="radio" id="radio-one" name="sex" value="Madame" checked/>
					<label for="radio-one" class="radio-one">Madame</label>
				<span class="label2">
					<input type="radio" id="radio-two" name="sex" value="Monsieur" />
					<label for="radio-two" class="radio-two">Monsieur</label>
				</span>
			</div>
		</div>
			<div class="col-sm-6">
				<div class="form-group">
					<input autofocus="autofocus" name="last_name" class="form-control" id="fullname" placeholder="Votre nom" type="text" required>
				</div>

				<div class="form-group">
					<input autofocus="autofocus" name="first_name" class="form-control" id="fullname" placeholder="Votre prénom" type="text" required>
				</div>
			<div class="dateSelect form-half form-left select-date">
				<div class="input-group date ed-datepicker filterDate input-calendar" data-provide="datepicker">
					<input type="text" name="date" id="Date" placeholder="Date de naissance" class="form-control form-controldate" required>
					<div class="input-group-addon calendar-icone">
						<span class="fa fa-calendar"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input autofocus="autofocus" name="raison_sociale" class="form-control" id="fullname" placeholder="Raison sociale" type="text">
			</div>

			<div class="form-group">
				<input autofocus="autofocus" name="siret" class="form-control" id="fullname" placeholder="SIRET" type="text">
			</div>

			<div class="form-group">

				<input autofocus="autofocus" name="email" class="form-control" id="fullname" placeholder="Email" type="email" required>
			</div>
		</div>

		<div class="col-sm-6">

			<div class="form-group">

				<input autofocus="autofocus" name="tel" class="form-control" id="fullname" placeholder="Téléphone" type="tel" required>
			</div>

			<div class="form-group">
				<input autofocus="autofocus" name="adresse" class="form-control" id="fullname" placeholder="Adresse" type="text" required>
			</div>

			<div class="form-group">
				<input autofocus="autofocus" name="zip_code" class="form-control" id="fullname" placeholder="Code Postal" type="text" required>
			</div>

			<div class="form-group form-groupp">
				<input autofocus="autofocus" name="town" class="form-control" id="fullname" placeholder="Ville" type="text" required>
			</div>

			<div class="form-group">
				<input autofocus="autofocus" name="country" class="form-control" id="fullname" placeholder="Pays " type="text" required>
			</div>

			<dl class="form-group dropdown">
				<input autofocus="autofocus" class="form-control" id="fullname" disabled="disabled" placeholder="Zone d'actions" type="text">
				<dt>
					<i >
						<span class="hida fa fa-chevron-down"></span>    
						<p class="multiSel"></p>  
					</i>
				</dt>
				<dd>
					<div class="mutliSelect">
						<ul>
							<% @countries.each do |country| %>
							<li>
								<input type="checkbox" class="js-country" name="countries[]" id="<%=dom_id(country)%>" value="<%= country.name %>">
								<label for="<%=dom_id(country)%>"><%= country.name %></label><br>
							</li>	
							<% end %>

							<div id="js-department-list" class="hidden">
								<h6>Dans quels Départements</h6>
								<div class="departements">
									<% @departments.each do |department| %>
									<input type="checkbox" class="js-department" name="departments[]" id="<%=dom_id(department)%>" value="<%= department.name %>">
									<label for="<%=dom_id(department)%>"><%= department.name %></label><br>
									<% end %>
								</div>
							</div>

						</ul>
					</div>
				</dd>

				<div class="choix">
					<i class="domaine">Choix Domaine d’activité : </i> 
					<label for="massages">Massage</label>
					<label class="switch">
						<input name="service[]" value="Massage" id="massages" type="checkbox" class="switch-input" checked>
						<span class="switch-label" data-on="Oui" data-off="Non"></span>
						<span class="switch-handle"></span>
					</label>
					<label for="spa">Location Spa/jacuzzi</label>
					<label class="switch">
						<input name="service[]" value="Location spa" id="spa" type="checkbox" class="switch-input" checked>
						<span class="switch-label" data-on="Oui" data-off="Non"></span>
						<span class="switch-handle"></span>
					</label>
				</div>
			</dl>
		</div>
		<div class="col-sm-12">
		<div class="actions">



			<input id="cgu" type="checkbox"> <label for="cgu"> J'accepte les <a href="<%=cgu_path%>">conditions générales d'utilisation</a></label>

			<%= submit_tag("Je m'inscris", class:"btn btn-primary btn-block")%>	

		</div>
		</div>
		<% end %>


		<!-- SECTION6 -->
		<section class="container-fluid clearfix productArea">

			<div class="secotionTitle">
				<h2 class="police_massage"><span>Besoin d’infos ?</span>Des questions ?</h2>
			</div>


		</section>

		<section class="clearfix contactSection">
			<div class="secotionTitle">
				<div class="row">
					<div class="p-part">Vous avez besoin de plus d’infos concernant nos partenariats ?<br> N’hésitez pas à nous contacter pour en savoir davantage !</div>
					<div class="col-md-8 col-sm-7 col-xs-12">
						<div class="contactTitle">
							<h3></br></h3>
						</div>

						<div class="contactForm">
							<div id="alert"></div><!--Response Holder-->
							<%= form_tag(save_message_path) do %>
							<div class="form-group">
								<input type="text" name="first_name" class="form-control" placeholder="Votre prénom" required>
							</div>
							<div class="form-group">
								<input type="text" name="last_name" class="form-control" placeholder="Votre nom" required>
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Votre Email" required>
							</div>
							<div class="form-group">
								<input type="text" name="mobile" class="form-control" placeholder="Votre Mobile" required>
							</div>
							<div class="form-group">
								<input type="text" name="corp_name" class="form-control" placeholder="Nom Entreprise">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="content" placeholder="Dîtes-nous tout !" required></textarea>
							</div>
							<div class="form-group">
								<%= submit_tag("Envoyer", class:"btn btn-primary first-btn", id:"contact-submit-btn")%> 
							</div>
							<% end %>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 col-xs-12">

						<div class="holdingInfo patternbg">
							<div class="contactTitle">
								<h3><center>Suivez-nous</center></h3>
							</div>
							<ul>
								<a href="https://www.facebook.com/cocooningspaev/" class="btn"><li><i class="fa icon" aria-hidden="true">
									<img src="/img/icon-reseau-social/facebook.png" alt="">
								</i> Cocooning Spa officiel </li></a>
								<a href="https://www.instagram.com/cocooningspaev/?hl=fr" class="btn"><li><i class="fa icon" aria-hidden="true"> 
									<img src="/img/icon-reseau-social/instagram.png" alt="">
								</i> Cocooning Spa </li></a>
								<a href="https://www.snapchat.com/add/cocooningspaev" class="btn"> <li><i class="fa icon" aria-hidden="true">
									<img src="/img/icon-reseau-social/snapchat.png" alt="">
								</i> Cocooning Spa snapchat</li> </a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
	<script data-turbolinks-track = "reload" src="/js/department_partner.js"></script>
