<%
=begin%>
 <h1>LOCATION DE SPA</h1>
<p>Page pour les location de spa</p>

<p>Bouton pour la location : 
<%= link_to "Location de spa", reservation_path('location-spa') %>
</p> 
<%
=end%>
  <style>
  @media (min-width: 992px){
    .h1 {
        font-size: 55px;
        line-height: 55px;
         margin: 0 0 10px;
      }
        .poli2{
     
       font-family:Georgia, serif!important;
       text-align: left !important;
       
      } 
      .police_spa{
    
      font-family: Jazz LET, fantasy!important;
      z-index: -4;
    }
    }
    @media (min-width: 768px){
    .h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 0 0 10px;
      }
        .poli2{
     
       font-family:Georgia, serif!important;
       text-align: left !important;
       color:black!important ;
      }
    
      .poli2 b{
     
       font-family:Brush Script MT, Brush Script Std, cursive!important;
       text-align: left !important;
       color:black!important ;
       font-size: 30px;
       
      }
      .police_spa{
    
      font-family: Jazz LET, fantasy!important;
      z-index: -4;
    }
    }
    
    @media (min-width: 320px){
    .h1 {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        
      }
     
      .poli2{
     
       font-family:Georgia, serif!important;
       text-align: left !important;
       margin-bottom:1px !important;
       
      }
    
      .police_spa{
    
      font-family: Jazz LET, fantasy!important;
      z-index: -4;
      }
    
    }
  </style>


  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/spa.css">
  <!-- accroche général-->
<section class="clearfix pageTitleArea" style="background-image: url(img/blog/spa2.jpg);">
<div class="container">
    <div class="pageTitle">
        <h1 class="from-bottom poli2">Spa</h1><br>
        <span class="description-service poli2"><b>T</b>he real place of Mindfullness & Healthy body</span><br>
    </div>
    <%= link_to "Découvrir", reservation_path('massage-domicile'), class:"btn btn-primary massage-btn" %>
    <%= link_to "Réserver", reservation_path('massage-domicile'), class:"btn btn-primary massage-btn" %>

</div>
</section>




<!-- DEbut Carousel-->

<section class="container-fluid clearfix aboutSection patternbg" >
  <div class="contain">
      <div class="carous" style="margin-bottom: -9%;">
      
          <div class="row__inner">
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://www.ville-vieux-conde.fr/images/votre_mairie/evenementiel.jpg" alt=""  />
              
          </div>
          <div class="tile__details">
              <div class="tile__title">
              <p style="color: white;">Top Gear</p>
              </div>
          </div>
          </div>


  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://s3-eu-west-1.amazonaws.com/images-ca-1-0-1-eu/recipe_photos/slide/131862/dsc_00221.jpg" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Anniverssaire 
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3fgN5QKscPB1lXP3-qMWAyxUCS2pgx39SQj4xHvkK8DzgZGLf" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Week-end en Famille
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://s3.eu-west-2.amazonaws.com/media.edfoodfest.com/images/IMG_0167.jpg" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Festival
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://www.otlhotelsaguenay.ca/uploads/1/0/6/8/106825145/couple-mariage-hotel-otl-gouverneur_2_orig.jpg" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Mariage
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://www.tourmag.com/photo/art/grande/6261167-9355943.jpg?v=1390573666" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Saint-Valentin
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://img-4.linternaute.com/F9ORsdPUty3tJjTjEcAPH8hlwTg=/1240x/smart/f8069c068c7646558f639b3a325a419a/ccmcms-linternaute/11160444.jpg" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Voyage de noce
              </div>
          </div>
          </div>
  
          <div class="tile">
          <div class="tile__media">
              <img class="tile__img" src="https://static.wixstatic.com/media/698f32_f69eda0937464180b4f17330cf12f51f~mv2.jpg" alt=""  />
          </div>
          <div class="tile__details">
              <div class="tile__title">
              Enterrement de jeune fille
              </div>
          </div>
          </div>      
      </div>
      </div>
  
  </div>
</section>

<!-- ========== Fin CAROUSEL============ -->





<!--########################################################################-->
<section class="clearfix pricingSection">
      <div class="container">
        <div class="secotionTitle">
          <h2 class="police_spa"><span> Service Spa </span>location</h2>
        </div>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="priceTableWrapper">
              <div class="priceImage" style="background-image: url(img/home/pricing-1.jpg);">
                <!-- <img src="img/home/pricing-1.jpg" alt="Image Price" class="img-responsive"> -->
                <div class="maskImage">
                  <h3>   </h3>
                </div>
                <div class="priceTag">
                  <h4>€100</h4>
                </div>
              </div>
              <div class="priceInfo">
                <ul class="list-unstyled">
                  
                    <li class="heure">24H</li>
                  
                </ul>
                <!--<a href="#" class="btn btn-common btn-round btn-theme">reservé</a>-->
                <%= link_to "Reserver", reservation_path('location-spa'), class:"btn btn-common btn-round btn-theme" %>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="priceTableWrapper">
              <div class="priceImage" style="background-image: url(img/home/pricing-2.jpg);">
                <!-- <img src="img/home/pricing-2.jpg" alt="Image Price" class="img-responsive"> -->
                <div class="maskImage">
                  <h3>     </h3>
                </div>
                <div class="priceTag">
                  <h4>€150</h4>
                </div>
              </div>
              <div class="priceInfo">
                <ul class="list-unstyled">
                  <li class="heure">48H</li>
                </ul>
                <!--<a href="#" class="btn btn-common btn-round btn-theme">reservé</a>-->
                <%= link_to "Reserver", reservation_path('location-spa'), class:"btn btn-common btn-round btn-theme" %>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="priceTableWrapper">
              <div class="priceImage" style="background-image: url(img/home/pricing-3.jpg);">
                <!-- <img src="img/home/pricing-3.jpg" alt="Image Price" class="img-responsive"> -->
                <div class="maskImage">
                  <h3>     </h3>
                </div>
                <div class="priceTag">
                  <h4>€200</h4>
                </div>
              </div>
              <div class="priceInfo">
                <ul class="list-unstyled">
                  <li class="heure">72H</li>
                </ul>
                <!--<a href="#" class="btn btn-common btn-round btn-theme">reservé</a>-->
                <%= link_to "Reserver", reservation_path('location-spa'), class:"btn btn-common btn-round btn-theme" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--########################################################################-->


<div>
        <p class="optionnal-texte">OPTIONS SUPLEMENTAIRES</p>
</div>

    <section class="clearfix offersSection patternbg">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <div class="offerContent">
              <img src="img/home/offer-1.jpg" alt="Image Offer">
              <div class="offerMasking">
                <div class="offerTitle"><h4><a href="#"> Décoration romantique</a></h4></div>
              </div>
              <div class="offerPrice"><h5>€20</h5></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="offerContent">
              <img src="img/home/offer-2.jpg" alt="Image Offer">
              <div class="offerMasking">
                <div class="offerTitle"><h4><a href="#">Anniverssaires fêtes</a></h4></div>
              </div>
              <div class="offerPrice"><h5>€20</h5></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="offerContent">
              <img src="img/home/offer-3.jpg" alt="Image Offer">
              <div class="offerMasking">
                <div class="offerTitle"><h4><a href="">Fontaine à chocolat</a></h4></div>
              </div>
              <div class="offerPrice"><h5>€20</h5></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="offerContent">
              <img src="img/home/offer-4.jpg" alt="Image Offer">
              <div class="offerMasking">
                <div class="offerTitle"><h4><a href="#">Plateau de fruits frais</a></h4></div>
              </div>
              <div class="offerPrice"><h5>€20</h5></div>
            </div>
          </div>
          

            <div class="col-sm-12 col-xs-12">
            <div class="offerContent">
              <img src="img/home/offer-3.jpg" alt="Image Offer">
              <div class="offerMasking">
                <div class="offerTitle"><h4><a href="">Des Tables de massages</a></h4></div>
              </div>
              <div class="offerPrice"><h5>€20</h5></div>
            </div>

        </div>
        
      </div>
      
    </section>