<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prestataires</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="/admin/css/allprospect.css" rel="stylesheet">

  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  <!-- Custom scripts for load all pages-->
  <script src="/admin/js/reload-page.js"></script>
  <style>
    
  </style>
</head>

<body onload="uncheck()">


  <p id="notice"><%= notice %></p>
  <section class="">
    <div class="secotionTitle">
      <h2 id="service" class="poli1 police_massage"><span>CLIENTS/PROSPECTS</span></h2>
    </div>
    
    <div class="row ">
      <div class="col-xs-12">
        <ul class="list-inline squareBtn">
          
          <li class="li"><a href="<%= index_clients_path %>" data-method="GET" style="border-color: #c6b8b8 !important;" class="btn btn-common">Client</a></li>
          <li class="li"><a href="<%= index_prospects_path %>" data-method="GET" class="btn btn-common btn-theme">Prospect</a></li>
        </ul>
      </div>
    </div>



    <div id="toolbar">
      <select class="form-control toolBarSelect"> 

        <option value="all">Exporter tous</option>
        <option value="selected">Exporter les sélectionnés</option>
        
      </select>
      <div class="search-control">
        <input class="form-control" id="myInput" type="text" placeholder="chercher dans la table..">
      </div>
    </div>

    <div class="row TableAll">
      <div class="col-xs-12">
        <div class="innerWrapper">
          <div class="table-responsive">
            <table id="table" 
            data-toggle="table"
            data-filter-control="true" 
            data-show-export="true"
            data-click-to-select="true"
            data-toolbar="#toolbar"
            data-pagination="true"

            class="table-responsive"
            style="">


            <thead>

              <tr>
                <th data-field="state" data-checkbox="true" ></th>
                <th data-field="nom" data-sortable="true"data-filter-control="input">Nom</th>
                <th data-field="prénom">Prénom</th>
                <th data-field="sexe" data-filter-control="select" data-sortable="true">Sexe</th>
                <th data-field="email" class="">Email</th>
                <th data-field="tel">Tel</th>
                <th data-field="zip_code" data-filter-control="input">Code Postal</th>
                <th data-field="action" class="actionTableAdmin"> <center style="line-height: 35px;">Actions
                </center>  
              </th>
            </tr>
          </thead>


          <tbody id="myTable">
            <% @prospects.each do |prospect| %>
            <tr>
              <td class="bs-checkbox "><input data-index="<%= prospect.id %>" name="btSelectItem" type="checkbox" checked="false"></td>
              <td><%= prospect.last_name %></td>
              <td><%= prospect.first_name %></td>
              <td><%= prospect.sexe %></td>
              <td class=""><%= prospect.email %></td>
              <td><%= prospect.tel %></td>
              <td><%= prospect.zip_code %></td>
              
              <td>
                <a href="<%=show_clients_path(prospect.id)%>" class="btn btn-default" title="Afficher" DATA-METHOD="GET"> <i class="far fa-eye"></i></a> 
                <a href="<%=edit_clients_path(prospect.id)%>" class="btn btn-default" title="Editer"><i class="fas fa-user-edit"></i></a> 
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, delete_clients_path(prospect.id), method: :delete, data: { confirm: 'Etes vous sur?' }, title:"Supprimer",class:"btn btn-default" %>

              </tr>

              <% end %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <script>
//exporte les données sélectionnées
var $table = $('#table');

$(function() {
  $('#toolbar').find('select').change(function () {
    $table.bootstrapTable('destroy').bootstrapTable({
      exportDataType: $(this).val(),
      exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf']
    })
  }).trigger('change')
})


var trBoldBlue = $("table");

$(trBoldBlue).on("click", "tr", function (){
  $(this).toggleClass("bold-blue");
});



$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>

<script>

  function UncheckAll(){ 
    var w = document.getElementsByTagName('input'); 
    for(var i = 0; i < w.length; i++){ 
      if(w[i].type=='checkbox'){ 
        w[i].checked = false; 
      }
    }
  } 
</script>

</body>
</html>


