<h1>MBA OVAY LE PHRASE</h1>

<hr>
<h1>Nos service</h1>
<ul>
<% @services.each do |service| %>
	<li><%= service.name %></li>
<% end %>
</ul>

<hr>


<hr>
<h1>Liste des clients</h1>
<ul>
<% @clients.each do |client| %>
	<li><%= client.first_name %></li>
<% end %>
</ul>

<hr>
<h1>Pays listes</h1>
<ul>
<% @countries.each do |country| %>
	<li><%= country.name %></li>	
<% end %>
</ul>

<hr>
<h1>Departements liste de france</h1>
<ul>
<% @departments[0..10].each do |department| %>
	<li><%= department.code %>- <%= department.name %></li>
<% end %>
</ul>

<hr>
<h1>Liste des prestataires</h1>
<ul>
<% @prestataires.each do |prestataire| %>
	<li><%= prestataire.first_name %></li>
<% end %>
</ul>

<hr>
<% @orders.each do |order| %>
	<%= order.billing_pays %>
<% end %>

<hr>

