

<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

<!-- PLUGINS CSS STYLE -->
<link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="#" rel="stylesheet" id="bootstrap-rtl">
<link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/plugins/selectbox/select_option1.css" rel="stylesheet">
<link href="/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" media="screen">
<link href="/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
<link href="/plugins/isotope/isotope.min.css" rel="stylesheet">
<link href="/plugins/datepicker/datepicker.min.css" rel="stylesheet">
<link href="/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">

<!-- CUSTOM CSS -->
<link href="/css/style.css" rel="stylesheet">
<link href="#" rel="stylesheet" id="rtl_css">
<link href="/css/default.css" rel="stylesheet" id="option_color">
<link href="/css/static_page.css" rel="stylesheet">
<link rel="stylesheet" href="carousel/carousel.css">
<link href="/css/product.css" rel="stylesheet">

<!-- FAVICON -->
<link href="img/favicon.png" rel="shortcut icon">



<link href="/css/page-devise.css" rel="stylesheet">

<!-- FORM AREA SECTION -->
<section class="clearfix">
  <div class="container">

    <div class="secotionTitle contactTitle">
      <h2 class="police_massage"><span>Nouveau client</span></h2>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="panel panel-default formPart">
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="switch-field">
          <%= f.radio_button :sexe, 'Femme', :required => true %>
          <label for="client_sexe_femme" class="radio-one">Madame</label> 
          <span class="label2"><%= f.radio_button :sexe, 'Homme'%> 
            <label for="client_sexe_homme" class="radio-two">Monsieur</label></span>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <i class="fa fa-user" aria-hidden="true"></i>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom", class:"form-control", id:"fullname", placeholder:"Votre nom",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class:"form-control", id:"fullname", placeholder:"Votre prénom",:required => true %>
              </div>
              <div class="form-group">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <%= f.text_field :country, autofocus: true, autocomplete: "Pays", class:"form-control", id:"fullname", placeholder:"Votre Pays",:required => true %>
              </div>
              <div class="form-group">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>                <%= f.text_field :zip_code, autofocus: true, autocomplete: "zipcode", class:"form-control", id:"fullname", placeholder:"Code Postal",:required => true %>
              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                <%= f.text_field :adresse, autofocus: true, autocomplete: "Adresse", class:"form-control", id:"fullname", placeholder:"Votre adresse",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <%= f.telephone_field :tel, autofocus: true, autocomplete: "Tel", class:"form-control", id:"fullname", placeholder:"Numéro tél",:required => true %>
              </div>
              <div class="form-group">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"fullname", placeholder:"email",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-key" aria-hidden="true"></i>
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"fullname", placeholder:"mot de pass",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-undo fa-stack-2x"></i>
                <i class="fa fa-key fa-stack-1x"></i>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"fullname", placeholder:"confirmer mot de pass", :required => true %>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><%= link_to 'Back', index_clients_path, class:"btn btn-primary btn-block" %></div>
            <div class="col-sm-4"><%= f.submit "Créer", class:"btn btn-primary btn-block" %></div>
            <div class="col-sm-2"></div>
            
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
