<link href="/css/page-devise.css" rel="stylesheet">
<link href="/css/deviseplus.css" rel="stylesheet">

<style>



  .error {border: 1px red solid;}

</style>
<!-- FORM AREA SECTION -->
<section class="clearfix formArea">
  <div class="container">
    <%= render "clients/shared/error_messages", resource: resource %>
    <div class="panel panel-default formPart">
      <div class="panel-heading patternbg"><center><span style="color:deeppink;">nouveau client</span></center></div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { onsubmit: "return validatePays()" }) do |f| %>
        <div class="switch-field">
          <%= f.radio_button :sexe, 'Femme', :required => true %>
          <label for="client_sexe_femme" class="radio-one">Madame</label> 
          <span class="label2"><%= f.radio_button :sexe, 'Homme'%> 
            <label for="client_sexe_homme" class="radio-two">Monsieur</label></span>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <i class="fa fa-user" aria-hidden="true"></i>
                <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Votre nom",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Votre prénom",:required => true %>
              </div>

              <div class="form-group">
                <%= f.select :country, ['Votre pays', 'France', 'Belgique', 'Luxembourg', 'Suisse'], html: { onchange: "validatePays()" }, autofocus: true, autocomplete: "Pays", class:"form-control form-controlDeviseSignUp intrus", id:"fullname", placeholder:"Votre pays",:required => true%>
              </div>

              <div class="form-group">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <%= f.text_field :town, autofocus: true, autocomplete: "Ville", class:"form-control form-controlDeviseSignUp", id:"town", placeholder:"Ville",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>                <%= f.text_field :zip_code, autofocus: true, autocomplete: "zipcode", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Code Postal",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                <%= f.text_field :adresse, autofocus: true, autocomplete: "Adresse", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Votre adresse",:required => true %>
              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                <%= f.text_field :adresse_complet, autofocus: true, autocomplete: "Complement d'adresse", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Votre complément d'adresse"%>
              </div>

              <div class="form-group">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <%= f.telephone_field :tel, autofocus: true, autocomplete: "Tel", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"N° de téléphone",:required => true %>
              </div>
              <div class="form-group">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Email",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-key" aria-hidden="true"></i>
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Mot de passe",:required => true %>
              </div>

              <div class="form-group">
                <i class="fa fa-undo fa-stack-2x"></i>
                <i class="fa fa-key fa-stack-1x"></i>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-controlDeviseSignUp", id:"fullname", placeholder:"Confirmer mot de passe", :required => true %>
              </div>
            </div>
            <div class="actions">
              <center>
                <input id="cgu" type="checkbox" required> <label for="cgu"> J'accepte les <a href="<%=cgu_path%>">conditions générales d'utilisation</a></label>
              </center>  <br>
              <center>

                <button class="btn btn-primary btn-block">Créer mon espace</button>
              </center> </br>

              <center><p>Avez-vous un compte ? <%= render "clients/shared/links" %></p></center>
            </div>
            <% end %>
          </div>
        </div>
      </section>



      <script>

        function validatePays() {

          var pays_selected = document.getElementById('client_country');
          var invalid = pays_selected.value == "Votre pays";

          if (invalid) {
            alert('Veuillez choisir votre pays');
            pays_selected.className = 'error';
          }
          else {
            pays_selected.className = '';
          }

          return !invalid;
        }
      </script>