
<!-- FORM AREA SECTION -->
    <section class="clearfix formArea">
      <div class="container">
      <%= render "devise/shared/error_messages", resource: resource %>
            <div class="panel panel-default formPart">
              <div class="panel-heading patternbg"><center>Créer un <span>compte</span></center></div>
              <div class="panel-body">
              <div class="row">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="col-sm-6">
                  <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom", class:"form-control", id:"fullname", placeholder:"Votre nom" %>
                  </div>

                  <div class="form-group">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class:"form-control", id:"fullname", placeholder:"Votre prénom" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :sexe, "Genre", class:"genre"%>
                    <%= f.select :sexe, [ 'Homme', 'Femme'], class:"form-control", id:"fullname"%>
                  </div>

                  <div class="form-group">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <%= f.text_field :adresse, autofocus: true, autocomplete: "Adresse", class:"form-control", id:"fullname", placeholder:"Votre adresse" %>
                  </div>
              </div>

              <div class="col-sm-6">

                  <div class="form-group">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <%= f.telephone_field :tel, autofocus: true, autocomplete: "Tel", class:"form-control", id:"fullname", placeholder:"Numéro tél" %>
                  </div>

                 <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"fullname", placeholder:"email" %>
                 </div>
             
                 <div class="form-group">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"fullname", placeholder:"mot de pass" %>
                 </div>

                 <div class="form-group">
                    <i class="fa fa-undo fa-stack-2x"></i>
                    <i class="fa fa-key fa-stack-1x"></i>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"fullname", placeholder:"confirmer mot de pass" %>
                 </div>
              </div>
              <div class="actions">
                <center><%= f.submit "Envoyer", class:"btn btn-primary btn-block" %></center> </br>
                <center><p>Avez-vous un compte? <%= render "clients/shared/links" %></p></center>
              </div>
              <% end %>
            </div>
      </div>
    </section>
    