<style>
	/* Paste this css to your style sheet file or under head tag */
  /* This only works with JavaScript,
  if it's not present, don't show loader */
  @media (min-width: 992px) {
  	.paramsuser{
  		position: absolute;
  		left: 48%;
  	}
  	.profilUser li{
  		margin-bottom: 20px;
  	}
  	.UserInfos{
  		margin-left: 120px;
  	}
  }
  @media (max-width: 600px) {

  	.profilUser li{
  		font-size: 13px;
  	}

  	.pageTitle h1{
  		font-size: 40px;
  	} 

  }
</style>

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea patternbg">
	<div class="container">
		<div class="pageTitle">
			<h1 style="  color: #ec5598;">Bienvenu sur votre espace personnel</h1>
		</div>
	</div>
</section>

<!-- GALLERY SECTION -->
<section class="clearfix homeGallery padding" style="background: white;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="filter-container isotopeFilters">
					<ul class="list-inline filter">

						<li class="active"><a href="#" data-filter=".infos">Infos personnelles</a></li>
						<li id="commande"><a href="#commande" data-filter=".massage">Historique de vos commandes</a></li>
						<!--   <li><a href="#" data-filter=".deconnexion"><i class="fa fa-power-off" aria-hidden="true"></i></a></li> -->

					</ul>
				</div>
			</div>
		</div>
		<div class="row isotopeContainer" id="container">

			<div class="col-sm-12 isotopeSelector infos">
				
				<div class="row">
					<div class="col-xs-12">
						<div class="innerWrapper">
							<div class="orderBox  patternbg">

							</div>
							<div class="profile" style="margin-top: -30px;">
								<div class="row">
									<div class="col-sm-6">
										<div class="UserInfos">
											<ul class="profilUser">
												<li><strong>Nom : </strong> <span class="paramsuser"><%= @client.last_name %></span></li>
												<li><strong>Prenom : </strong><span class="paramsuser"><%= @client.first_name %></span></li>
												<li><strong>Mail : </strong><span class="paramsuser"><%= @client.email %></span></li>
												<li><strong>Adresse : </strong><span class="paramsuser"><%= @client.adresse %></span></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="UserInfos">
											<ul class="profilUser">
												<li><strong>Code Postal : </strong><span class="paramsuser"><%= @client.zip_code %></span></li>
												<li><strong>Téléphone : </strong><span class="paramsuser"><%= @client.tel %></span></li>
												<li><strong>Sexe : </strong><span class="paramsuser"><%= @client.sexe %></span></li>
												<li><strong>Pays : </strong><span class="paramsuser"><%= @client.country %></span></li>
											</ul>
										</div>
									</div>
								</div>
								<br> 

								<ul class="list-inline fullRoundBtn">
									<li class="li"><a href="<%=edit_client_registration_path%>" class="btn btn-common btn-full-round btn-theme">Modifier</a></li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="classRemove" class="hidden">
				<div class="col-sm-12 isotopeSelector massage">
					<div class="row">
						<div class="col-xs-12">
							<div class="innerWrapper">
								<div class="orderBox  patternbg">
									<center>Vos commandes</center>
								</div>
								<% unless @order_lists.empty? %>
								<h2 style="color: #ec5598;">Commande en cours</h2>
<!-- #~~~~~~~~~~~~~~~~#~~~~~~~~~~~~~~COMMANDE EN COURS~~~~~~~~~~~~~~~#~~~~~~~~~~~~~~~~ -->
									<div class="commande-en-cours">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Date <small>(MM/JJ/AAAA)</small></th>
														<th>Prix</th>
														<th>Prestation</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<% @orders_in_progress.each do |order| %>
													<% prixAcompte = order.totalPrice %>
													<tr>
														<td><%= order.prestation_date %></td>
														<td><%= prixAcompte[0] + prixAcompte[1] %> €</td>
														<td>
															<ul>
																<% order.order_services.each do |o_s| %>
																	<li><%= o_s.service.name %></li>
																<% end %>
															</ul>
														</td>
														<td><a href="<%= client_order_path(order.id) %>" class="btn btn-default" DATA-Method="GET">Afficher</a></td>
													</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
									<h2 style="color: #ec5598;">Commande traitées</h2>
<!-- #~~~~~~~~~~~~~~~~#~~~~~~~~~~~~~COMMANDE TRAITE~~~~~~~~~~~~~#~~~~~~~~~~~~~~~~ -->
									<div class="commande-traite">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Date <small>(MM/JJ/AAAA)</small></th>
														<th>Prix</th>
														<th>Prestation</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<% @orders_progress.each do |order| %>
													<% prixAcompte = order.totalPrice %>
													<tr>
														<td><%= order.prestation_date %></td>
														<td><%= prixAcompte[0] + prixAcompte[1] %> €</td>
														<td>
															<ul>
																<% order.order_services.each do |o_s| %>
																	<li><%= o_s.service.name %></li>
																<% end %>
															</ul>
														</td>
														<td><a href="<%= client_order_path(order.id) %>" class="btn btn-default" DATA-Method="GET">Afficher</a></td>
													</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
									<h2 style="color: #ec5598;">Commande non traitées</h2>
<!-- #~~~~~~~~~~~~~~~~#~~~~~~~~~~~~COMMANDE NON TRAITE~~~~~~~~~~~~#~~~~~~~~~~~~~~~~ -->
									<div class="comannde-non-traite">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Date <small>(MM/JJ/AAAA)</small></th>
														<th>Prix</th>
														<th>Prestation</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<% @orders_not_progress.each do |order| %>
													<% prixAcompte = order.totalPrice %>
													<tr>
														<td><%= order.prestation_date %></td>
														<td><%= prixAcompte[0] + prixAcompte[1] %> €</td>
														<td>
															<ul>
																<% order.order_services.each do |o_s| %>
																	<li><%= o_s.service.name %></li>
																<% end %>
															</ul>
														</td>
														<td><a href="<%= client_order_path(order.id) %>" class="btn btn-default" DATA-Method="GET">Afficher</a></td>
													</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
								<% else %>
								<div class="table-responsive">
									<table class="table">
										<thead>

										</thead>
										<tbody>
											<p>
												Vous n'avez pas encore commandé sur notre site. Veuillez <a href="<%= reservation_path %>">commander </a>maintenant!!!	
											</p>
										</tbody>
									</table>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<script>
	let aeffacer = document.getElementById("classRemove");
	let commande = document.getElementById("commande");
	commande.addEventListener("click", function(){
		aeffacer.classList.remove("hidden");
	}); 
</script>