<br><br><br><br><br><br>

<div class="container">
	<h1>Bienvenu sur votre espace personnel</h1>
	<h2><%= link_to "Info personnelles", client_personal_info_path %></h2>
	<h2><%= link_to "Historique de vos commandes", client_profil_path %></h2>
		
	<div class="alert">
		<h4><%= link_to "En cours", client_profil_path %></h4>
		<h4><%= link_to "Traitées", client_order_filtre_index_path(1), class: " ", remote: true %></h4>
		<h4><%= link_to "Non traitées", client_order_filtre_index_path(0), class: " ", remote: true %></h4>
	</div>

	<div id="listCommande">
		<%= render "listCommande.html.erb", orders: @orders %>
	</div>

</div>

<br><br><br><br><br><br>
