
<h5 class="prestation-category"><%= @category.name %></h5>

<ul>
	<% subcategories.each do |subcategory| %>

	<li><%= subcategory.name %> <span class="prix"><%= subcategory.price %> € </span>
	
	<%= check_box_tag :name, 1, true , data: { remote: true, url: subcategory_path, params: { subcategory: subcategory.id}.to_param, method: "put" }, class:"check", id:"toggle#{subcategory.id}" %>

		<div class="togggle">
			<label for="toggle<%=subcategory.id%>"> </label>
		</div>

	</li>
	<% end %>
</ul>

