<h5><i class="fa fa-hand-o-right" aria-hidden="true" id="fa"></i>
Location spa pour <%= subcategory.duration %>H</h5>
<div id="info-<%= dom_id(subcategory) %>">
	<ul id="panierContent">
	  <li>Nombre de spa gonflable: <span id="nombre-spa-<%= dom_id(subcategory) %>"><%= nombre %></span></li>
	  <li>Prix: € <span id="price-<%= dom_id(subcategory) %>"><%= nombre * subcategory.price.to_i %></span></li>
	</ul>
</div>
