<h4><%= subcategory.name %> pour <%= subcategory.duration %>H €<%= subcategory.price.to_i %></h4>
<div class="allCategoriSpa">
<div class="addCategoriSpa">
<i class="fa fa-hand-o-right" aria-hidden="true" id="fa"></i>
<%= label_tag "logement#{i}", 'Type de logement' %>
<%= select_tag "logement[]", options_for_select([["Appartement","0"],["Villa - Maison","1"]]), class:"selectElement", id:"logement#{i}" %>
</div>
<div class="addCategoriSpa">
<i class="fa fa-hand-o-right" aria-hidden="true" id="fa"></i>
<%= label_tag "installation#{i}","Type d'installation" %>
<%= select_tag "installation[]", options_for_select([["Intérieur","0"],["Extérieur","1"]]), class:"selectElement", id:"installation#{i}" %>
</div>
<div class="addCategoriSpa">
<i class="fa fa-hand-o-right" aria-hidden="true" id="fa"></i>
<%= label_tag "eau#{i}","Système d'eau" %>
<%= select_tag "eau[]", options_for_select([["Cumulus - Ballon d'eau (eau chaude limitée)","0"],["Chaudière (eau chaude continue)","1"]]), class:"selectElement", id:"eau#{i}" %>
</div>
</div>