<hr>
<h5 class="prestation-category"><%= @category.name %></h5>
<ul class="prestations">
	<% text = true %>
	<% subcategories.each do |subcategory| %>
	<% if text %>
	<% text = false %>
	<input type="hidden" name="category[]" value="<%= @category.id %>">
	<% end %>

	<li>
		<div class="toggle">
			<label class="label-chek-tmp" for="toggle-label-<%= subcategory.id %>"><%= subcategory.name %>
			</label>
			<span class="prix"><%= subcategory.price %> € </span>
			
			<input type="checkbox" value="<%= subcategory.id %>" id="toggle-label-<%= subcategory.id %>" data-remote="true" data-title="<%= subcategory.name %>" data-category="<%= @category.name %>" data-price="<%= subcategory.price %>" data-url="/subcategory" data-params="category=<%= @category.id %>&amp;subcategory=<%= subcategory.id %>" data-method="put" class="check-tmp" >
		</div>

	</li>
	<% end %>
</ul>

  <input type="checkbox" id="toggle" class="checkbox" />  
    <label for="toggle" class="switch"></label>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}

</style>