<!-- infocategory = le category a ajouter -->
<div class="row">
<div class="massage-product">
	<div class="categ">
		<h5 class="prestation-category"><%= infocategory.name %></h5>
		<ul>
			<% helpsubcategories(infocategory).each do |subcategory| %>
	  		<li><%= subcategory.name %> <span class="prix"><%= subcategory.price %> € </span> <i class="fa fa-info-circle" aria-hidden="true"></i>
	  		<%= check_box_tag :name, 1, isincommandesubcategory(arrayid,subcategory) , data: { remote: true, url: subcategory_path, params: {key: arrayid, subcategory: subcategory.id}.to_param, method: "put" }, class:"check",id:"toggle#{subcategory.id}"%>
	  		<div class="togggle">
  				<label for="toggle<%=subcategory.id%>"></label>
	  		</div>
	    	</li>
			<% end %>
		</ul>
	</div>
</div>
</div>