<br><br><br><br><br><br><br><br><br><br>
<h1>acceptOrder</h1>
<h2><%= @order_service.service_time %></h2>
<h2><%= @prestataire.first_name  %></h2>
<hr>
	<%= flash[:new] %>
<hr>
	<%= flash[:ready] %>
<hr>
	<%= flash[:oups] %>
<hr>
<br><br><br><br><br><br><br><br><br><br>
