s<link href="/css/resa.css" rel="stylesheet">

<% if flash[:delete_js] %>
<script type="text/javascript">
	sessionStorage.clear();
</script>
<% end %>

<div class="container" id="container-principale">
	<div id="overlay">
		<div id="text">
			<div class="set-zones">
				<div class="alert alert-danger hidden" role="alert" id="errorInZone">
					
				</div>
				<h2 style="color:white;" class="titregeog">Je choisis ma zone géographique </h2>

				<%= form_tag(zone_path, remote: true, class:"pays_dep") do %>
				<div class="pays">
					<label class="labelle" for="country-choice">Pays</label>
					<select name="country" id="country-choice" class="field" required>
						<option value="" checked>Pays</option>
						<% @countries.collect do |d| %>
						<option value="<%=d.name%>"><%=d.name%></option>
						<% end %>
					</select>
				</div>

				<div id="list-department" class="hidden">
					<label class="labelle" for="Departement">Departement</label>
					<select name="department" id="Departement" class="field" required>
						<option value="">Liste departement</option>
						<% @departments.collect do |d| %>
						<option value="<%= d.name %>"><%="#{d.code}-#{d.name}"%></option>
						<% end %>
					</select>
				</div>

				<div class="dateSelect form-half form-left select-date">
					
					<label class="labelle" for="Date">Date</label>
					<div class="input-group date ed-datepicker filterDate input-calendar" data-provide="datepicker">
						<input type="text" name="date" id="Date" placeholder="MM/DD/YYYY" class="form-control" required>
						<div class="input-group-addon calendar-icone">
							<span class="fa fa-calendar"></span>
						</div>
					</div>
				</div>
				<div >
					<%= submit_tag("Je valide", class:"je-valide")%>	
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- =================================================================================== -->
	<!--     			 ATAO MODAL AM'LE + DE PRESTATION NA MASSAGE ITO 				-->

	<div id="pushMassage2" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa" style="font-size:18px;">INFORMATION MASSAGE DUOS</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText" style="text-align: justify;">
						“Attention : une réservation correspond à 1 praticien. En réservant pour plusieurs personnes, le même praticien pratiquera les massages à la suite. Si vous souhaitez réserver 2 massages simultanément, il vous faut faire 2 réservations séparées à la même heure.” <br>
						<center><button type="button" class="onfirm-command btn btn-primary btn-resa-text text-btn btn-resa-text" data-dismiss="modal">fermer</button></center>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- =================================================================================== -->


	<!-- ==========================CONTENU ACCORDEONS================= -->
	<div class="container allfaq">
		<% if flash[:notice] %>
		<div class="alert alert-danger" role="alert" id="errorForDataFormulaire">
			<%= flash[:notice] %>
		</div>
		<% end %>

		<div class="row">

			<div class="col-sm-9">
				<div class="innerWrapper">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead" class="accordion-header" ><center >MA ZONE GÉOGRAPHIQUE</center></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div id="zode-and-date-selected">

										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- session js -->
				<%= form_tag(save_session_path,id:"form-data",'data-id':"#{@idMassage}",'data-spas':"#{@spas}",'data-spaoptions':"#{@spaoptions}",'data-massages':"#{@massages}") do %>
				<!-- session js fin -->
				<div id="prestation-list">
					<div class="accordion js-accordion">

						<div id="loc-spa-fafana" class="accordion__item js-accordion-item">
							<div class="accordion-header js-accordion-header patternbg"><center class="titleAccordion">LOCATION SPA</center>
							</div> 
							<div class="accordion-body js-accordion-body">
								<div class="accordion-body__contents">
									<div class="spa">
										
										<div class="spa-click">
											<p class="p-resa-spa">Je souhaite réserver <i class="fa fa-minus-circle" id="remove-spa"></i><span id="number-spa"> 0 </span><i class="fa fa-plus-circle" id="add-spa"></i> spa</p>
										</div>
										<hr class="interligne">
										<div class="row">
											<div id="spa-input">

											</div>
										</div>
										<hr class="interligne">
										<!-- HEURE DE RESERVATION -->
										<center>
											<label class="label-heure" for="heure-spa">Choix de l'heure</label>
											<select name="heureSpa" id="heure-spa" class="select-dro">
												<option value="">Heure</option>
												<option value="08:00">08:00</option>
												<option value="08:30">08:30</option>
												<option value="09:00">09:00</option>
												<option value="09:30">09:30</option>
												<option value="10:00">10:00</option>
												<option value="10:30">10:30</option>
												<option value="11:00">11:00</option>
												<option value="11:30">11:30</option>
												<option value="12:00">12:00</option>
												<option value="12:30">12:30</option>
												<option value="13:00">13:00</option>
												<option value="13:30">13:30</option>
												<option value="14:00">14:00</option>
												<option value="14:30">14:30</option>
												<option value="15:00">15:00</option>
												<option value="15:30">15:30</option>
												<option value="16:00">16:00</option>
												<option value="16:30">16:30</option>
												<option value="17:00">17:00</option>
												<option value="17:30">17:30</option>
												<option value="18:00">18:00</option>
												<option value="18:30">18:30</option>
												<option value="19:00">19:00</option>
												<option value="19:30">19:30</option>
												<option value="20:00">20:00</option>
												<option value="20:30">20:30</option>
												<option value="21:00">21:00</option>
												<option value="21:30">21:30</option>
												<option value="22:00">22:00</option>
											</select>
										</center>
									</div>
								</div>

							</div><!-- end of accordion body -->
						</div><!-- end of accordion item -->
						<div id="massage-fafana" class="accordion__item js-accordion-item">
							<div class="accordion-header js-accordion-header patternbg"><center class="titleAccordion">MASSAGE À DOMICILE</center>
							</div> 
							<div class="accordion-body js-accordion-body">
								<div class="accordion-body__contents">
									<div class="massage">
										<!-- #################### -->
										<div id="select-prestation">
											<p class="p-resa-spa">Je souhaite réserver pour :<p>
												<div>
													<p class="p-resa-spa">Homme<i class="fa fa-minus-circle remove-massage" data-cat="Homme"></i><span id="number-Homme"> 0 </span><i class="fa fa-plus-circle add-massage" data-cat="Homme" id="addHomme"></i></p>
												</div>
												<div>
													<p class="p-resa-spa">Femme<i class="fa fa-minus-circle remove-massage" data-cat="Femme"></i><span id="number-Femme"> 0 </span><i class="fa fa-plus-circle add-massage" data-cat="Femme" id="addFemme"></i></p>
												</div>
											</div>

											<div id="massage-input">


											</div>

											<!-- #################### -->
											<center class="praticien">
												<div class="row">
													<div class="col-sm-12 sm-9-spa">
														<div class="innerWrapper">
															<div class="table-responsive table-responsiveInfos">
																<table class="table tableInfos">
																	<thead>
																		<tr class="tr">
																			<th id="tableHead">Infos complémentaires</th>
																		</tr>
																	</thead>
																</table>
															</div>
														</div>
													</div>
												</div>
												<h4><span class="titlePraticien">Votre praticien</span></h4>
												<div class="praticiens">
													<input type="radio" id="man" name="praticien" value="Masculin" class="praticien-list">
													<label for="man"><i id="praticienman-label" class="fa fa-male" aria-hidden="true"></i></label>
												</div>
												<div class="praticiens">
													<input type="radio" id="woman" name="praticien" value="Féminin" class="praticien-list">
													<label for="woman"><i id="praticien-label" class="fa fa-female" aria-hidden="true"></i></label>
												</div>
												<div class="praticiens pratText">
													<input type="radio" id="other" name="praticien" value="all" class="praticien-list" >
													<label for="other"> <span class="label-no-fa">Peu importe</span></label>
												</div>
											</center>

											<hr class="interligne">
											<!-- HEURE DE RESERVATION -->
											<center>
												<label class="label-heure" for="heure-massage">Choix de l'heure</label>
												<select name="heureMassage" id="heure-massage" class="select-dro">
													<option value="">Heure</option>
													<option value="08:00">08:00</option>
													<option value="08:30">08:30</option>
													<option value="09:00">09:00</option>
													<option value="09:30">09:30</option>
													<option value="10:00">10:00</option>
													<option value="10:30">10:30</option>
													<option value="11:00">11:00</option>
													<option value="11:30">11:30</option>
													<option value="12:00">12:00</option>
													<option value="12:30">12:30</option>
													<option value="13:00">13:00</option>
													<option value="13:30">13:30</option>
													<option value="14:00">14:00</option>
													<option value="14:30">14:30</option>
													<option value="15:00">15:00</option>
													<option value="15:30">15:30</option>
													<option value="16:00">16:00</option>
													<option value="16:30">16:30</option>
													<option value="17:00">17:00</option>
													<option value="17:30">17:30</option>
													<option value="18:00">18:00</option>
													<option value="18:30">18:30</option>
													<option value="19:00">19:00</option>
													<option value="19:30">19:30</option>
													<option value="20:00">20:00</option>
													<option value="20:30">20:30</option>
													<option value="21:00">21:00</option>
													<option value="21:30">21:30</option>
													<option value="22:00">22:00</option>
												</select>
											</center>
										</div>
									</div>
								</div><!-- end of accordion body -->
							</div><!-- end of accordion item -->
						</div>


						<div class="row">
							<div class="col-sm-12 sm-9-spa">
								<div class="innerWrapper">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th id="tableHead" class="accordion-header" ><center >Les extras pour votre location spa</center></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														
														<center ><h3 class="police_spa">Proposés directement par nos professionnels lors de votre mise en relation</h3></center >
														<div class="row spa-suppl">
															<div class="col-sm-3">
																<div class="offerContent">
																	<img src="img/home/fontainechocolat.jpg" alt="Image Offer">
																	<div class="offerMasking">
																		<div class="offerTitle"><h4>Fontaine  <br>chocolat</h4></div>
																	</div>
																	<!-- <div class="offerPrice"><h5>€20</h5></div> -->
																</div>
															</div>
															<div class="col-sm-3">
																<div class="offerContent">
																	<img src="img/home/tablemassage.jpg" alt="Image Offer">
																	<div class="offerMasking">
																		<div class="offerTitle"><h4 style="text-transform: none;">Table de <br>Massage (Avec huile)</h4></div>
																	</div>
																	<!-- <div class="offerPrice"><h5>€20</h5></div> -->
																</div>
															</div>
															<div class="col-sm-3">
																<div class="offerContent">
																	<img src="img/home/plateau.jpg" alt="Image Offer">
																	<div class="offerMasking">
																		<div class="offerTitle"><h4 style="text-transform: none;">Plateau de <br>Fruits Frais</h4></div>
																	</div>
																	<!-- <div class="offerPrice"><h5>€20</h5></div> -->
																</div>
															</div>

															<div class="col-sm-3">
																<div class="offerContent">
																	<img src="img/home/petitfour.jpg" alt="Image Offer">
																	<div class="offerMasking">
																		<div class="offerTitle"><h4>Petits Fours<br>salés/sucrés</h4></div>
																	</div>
																	<!-- <div class="offerPrice"><h5>€20</h5></div> -->
																</div>
															</div>
															<div class="col-sm-12 textExtras">
																Et bien d’autres encore (enceinte bluetooth, eau parfumée, boissons (soft et alcool), etc…)
															</div>
														</div>

													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<input type="text" name="cadeau" id="cadeau-id" class="hidden">
								</div>     
							</div>
						</div>
					</div>


				</div>

				<!-- PANIER DYNAMIQUE -->

				<div class="col-sm-3 sm-3-spa" id="panierTable">
					<div class="innerWrapper">
						<div class="table-responsive " >
							<table class="table">
								<thead>
									<tr>
										<th id="tableHead">
											<center>VOTRE PANIER</center>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div id="card">
												<h4 class="panierTitle"> Votre commande <i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i></h4>
												<p class="p-panier" id="empty-order">Vous n'avez pas encore <br> sélectionné de prestation</p>

												<div id="spa-order" class="hidden">
													<h3 class="subTitlePanierSpa">Location spa <span id="spa-price-total" data-price=""></span></h3>
												</div>

												<div id="massage-order" class="hidden">
													<h3 class="subTitlePanierMsg">Massage <span id="massage-price-total" data-price=""></span></h3>
												</div>

												<div id="cadeau-order" class="hidden">
													<h3 class="subTitleCadeau">Vos cadeaux :  <span id="cadeau-price-total"></span> €</h3>
													<div class="cadeaux"></div>
												</div>
												<div id="code-promo">
													<h3 class="subTitlePanier">Code promo ?</h3>
													<%= form_tag(code_promo_path, remote: true) do %>
													<div id="alert-code" class="hidden alert alert-success" role="alert">
														Votre code promo est validé avec succès
													</div>
													<label for="codeP"></label>
													<input type="text" name="code" id="codeP", placeholder="Code promo">
													<%= submit_tag("valider") %>	
													<% end %>
												</div>
												<div class="prixTotals">
													<p class="p-prixTotal">PRIX TOTAL : <strong id="total-price">0,00</strong> €</p>
													<p class="p-prixTotal">ACOMPTE TOTAL : <strong id="total-acompte">0,00</strong> €</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
						
						
						<div class="btn-resa">
							<%= submit_tag("Suivant", id:"submi-tag",  class:"confirm-command btn btn-primary btn-resa-text text-btn btn-resa-text") %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<%= javascript_pack_tag 'orders_index' %>

	<script data-turbolinks-track = "reload" src="/js/resa-js.js"></script>

	
	<!-- decoration MODAL -->
	<div id="Romantique" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa ">Décoration romantique</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">La décoration romantique est composée de ballons, pétales de roses, bougies, lumière tamisée & spot lumineux dans le spa.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- anniversaire MODAL -->
	<div id="Anniversaire" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Décoration anniversaire</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">La décoration anniversaire est composée de ballons, confettis, accessoires anniversaire & spot lumineux dans le spa.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- fontaine MODAL -->
	<div id="Personnalisée" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Event/Fête</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Exemples : décoration personnalisée pour nouvel an, noël, fête des pères/mères, EVJF, Girly, Zen, etc…</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal massage -->
	<!-- classique decouverte -->
	<% for n in 1..9 %>
	<div id="modal0<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage Classique / découverte</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Le massage classique est un traitement qui agit sur chaque partie du corps les unes après les autres. Il se pratique par pétrissage, lissage, vibration ou par des mouvements plus petits et plus subtils sur les points de tension. Il s’agit d’un massage global relaxant qui en plus de soulager les tensions musculaires superficielles et profondes, possède de multiples actions thérapeutiques. Il permet de renforcer le système immunitaire, d’améliorer les fonctions digestives, de stimuler la vitalité des tissus, favoriser une bonne circulation sanguine et d’apaiser les tensions nerveuses. Le massage classique est recommandé pour les insomnies, les angoisses, le stress, la nervosité, la constipation, les migraines.</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- massage anti-stress -->
	<% for n in 1..9 %>
	<div id="modal1<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage Anti-stress / Relaxant</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Le massage anti-stress est source de détente, en enlevant les nœuds musculaires et en optimisant la circulation sanguine et lymphatique. Il élimine stress et anxiété. Il élimine ainsi les toxines à l’origine des dépressions. Une fois les tensions dissipées, l’organisme se relaxe, les muscles et articulations retrouvent leur souplesse. Cette action se répercute directement sur le cerveau puisque l’évacuation des toxines optimise son oxygénation.
					Son application régulière permet de réguler la tension artérielle, d’apaiser certains troubles liés aux maladies cardio-vasculaires, de soulager les problèmes respiratoires graves comme l’asthme, de mettre un terme à l’insomnie.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>
	<!--Massage Sportif  -->
	<% for n in 1..9 %>
	<div id="modal2<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage Sportif </h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Par le massage de préparation, le masseur contribue à la mise en forme du sportif. Il lui permet d’affronter la compétition, d’éviter les blessures et de diminuer le trac. Par le massage de récupération, le masseur aide à une récupération plus rapide par le drainage des toxines, par une diminution de la fatigue.
					Préserver son énergie et éviter les « coups de pompe » est un élément de la vie professionnelle d’aujourd’hui. Retrouver rapidement ses capacités physiques et sa vigilance après un effort est essentiel.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>

	<!-- Réflexologie plantaire -->
	<% for n in 1..9 %>
	<div id="modal3<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Réflexologie plantaire</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">La réflexologie plantaire est une thérapie manuelle fondée sur l’existence au niveau des pieds de zones réflexes représentant chaque organe du corps. Lorsque ces zones sont activées par simple pression, l’état de l’organe est amélioré ou redynamisé.
					Nos pieds recueillant environ 7200 terminaisons nerveuses, il est possible, par simple pression des doigts à des endroits précis de la plante et du dos du pied, d’agir à distance sur certaines régions de l’organisme.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>

	<!-- Massage Pieds & Mains  -->
	<% for n in 1..9 %>
	<div id="modal4<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage Pieds & Mains </h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Les pieds supportent le poids de notre corps et sont sujets à de nombreuses agressions extérieures comme le sol dur ou des chaussures inconfortables. Ils sont composés d’une multitude de terminaisons nerveuses qui influent sur l’ensemble de notre organisme. Les mains font parties des endroits les plus sensibles de notre corps. Elles renferment de nombreuses terminaisons nerveuses qui sont en communication constante avec notre cerveau. Sollicitées en permanence, elles sont les premières victimes de nos stress et fatigues. Le massage des mains et des pieds contribue à l’élimination du stress, à la décontraction et aide à diminuer les émotions négatives. Il vous procurera une énorme sensation de bien-être et de détente.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>
	<!-- Massage du Dos-->
	<% for n in 1..9 %>
	<div id="modal5<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage du Dos </h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Le massage du dos est source de relaxation et de détente après une journée éprouvante ou juste pour se faire plaisir une fois de temps en temps. Ses bienfaits sont innombrables, il permet notamment de tonifier, de relaxer et de stimuler le dos qui est une des zones du corps les plus sujettes aux tensions. En effet, de très nombreux et puissants muscles sont sollicités dans cette région et il est possible de les soulager en les massant. Le dos souffre de notre rythme de vie et de nos mauvaises postures, le dos est un peu l’endroit où tout notre stress et notre fatigue sont stockés. Ce massage permet d’évacuer le stress, de reposer votre dos et donc d’apporter une énergie nouvelle.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>
	<!-- Massage Crâne, nuque & épaules-->
	<% for n in 1..9 %>
	<div id="modal6<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage Crâne, nuque & épaules</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Ce massage sollicite particulièrement les zones soumises au stress de la vie quotidienne en stimulant les zones réflexes et énergétiques. Il dénoue et agit sur vos tensions accumulées au niveau des épaules, de la nuque et du cuir chevelu. Ce massage vous procure un bien-être physique et psychique. Vous vous sentirez complètement détendu(e). Le massage Crâne, Nuque & Épaules est spécialement recommandé si vous passez du temps devant l’ordinateur ou en voiture, car il rétablira les maux créés sur une région qui supporte le poids de votre tête ou une position pas toujours la mieux adaptée.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>


	<!-- Massage prénatal-->
	<% for n in 1..9 %>
	<div id="modal7<%= n %>" class="modal fade modalCommon" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<!-- MODAL CONTENT-->
			<div class="modal-content contentMassage">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title modal-titleSpa">Massage prénatal</h4>
				</div>
				<div class="modal-body">
					<div id="appointment-alert" class="my-alert"></div>
					<p class="text-p-index modalText">Les massages peuvent faire énormément de bien aux femmes enceintes et soulager les ventres douloureux. Ce qui est bon pour la maman est en général bon pour le foetus ! Les massages permettent à la maman de se détendre et de se sentir mieux.</p>
				</div>
			</div>
		</div>
	</div>
	<%end%>