<!-- css pour cette page  -->
<link href="/css/reservation-spa.css" rel="stylesheet">
<link href="/css/reservation-massage.css" rel="stylesheet">
<!-- accroche général -->
<section class="clearfix pageTitleArea" style="background-image: url(/img/blog/massage3.jpg);">
	<div class="container">
<div class="pageTitle">
	<span class="title-service poli2">Réservation</span><br>
	<span class="description-service poli2"><b>T</b>he real place of Mindfullness & Healthy body</span><br>
</div> 
	</div>
</section>
<section class="clearfix orderSection padding">
	<div class="container">
		<div class="orderBox  patternbg">
			Faites vos réservations
		</div>
		<div class="row">
			<div class="col-sm-9 sm-9-spa">
				<div class="innerWrapper">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Massage pour qui?</th>

									<th id="tableHead">Nombres</th>
								</tr>
							</thead>
							<tbody>
								<% @categories.each do |category| %>
								<tr id="tableContent">
									<td id="tableContent"><%= category.name %></td>
									<td>
										<%= link_to raw('<i class="fa fa-minus-circle"></i>'), deletecategory_path(category.id), class: "delCateg",remote: true %>
										<strong> <span id="puts-number-<%= category.name %>">  0  </span></strong>
										<%= link_to raw('<i class="fa fa-plus-circle"></i>'), addcategory_path(category.id), class: "addCateg",remote: true %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Informations sur la préstation</th>
								</tr>
							</thead>
							<tbody>
								<tr id="tableContent">
									<td>
										<!-- *************** FORMULAIRE POUR LA PRESTATION ************* -->
										<%= form_tag(saved_commande_path, id:"form", 'data-zones':"#{@listPrestation}", 'data-service':"#{@service.name}") do %>
										<div id="list-prestation">
											


										</div>
										<div id="all-produits">

										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Produits supplémentaires à vendre</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<% @products.each do |product| %>
											<div class="col-sm-3">

												<div><img src="/img/products/<%= product.name %>.jpg" alt="" class="image-produit"> 
												</div>
												<div class="description-produit">
													<%= product.name %> <br>
													Prix : <%= product.price %> € <br>
													<strong>Nombres: </strong>   <i id="fa" class="fa fa-minus-circle btn-produits" data-zones="[<%= product.id %>,&quot;<%= product.name %>&quot;,<%= product.price %>]" data-action="delete"></i>
													<strong><span id="produits-number-<%= product.id %>">0</span></strong>
													<i id="fa" class="fa fa-plus-circle btn-produits" data-zones="[<%= product.id %>,&quot;<%= product.name %>&quot;,<%= product.price %>]" data-action="new"></i>
												</div>

											</div>

											<% end %>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Zone de livraison</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="coordonnee">
										<div>
											<%= label_tag 'Pays', nil, class:"labelle" %>
											<%=select_tag 'country_id', options_for_select(@pays.collect{ |u| [u.name] }),class:"field"%>
										</div>

										<div>
						                  <%= label_tag "Departement", nil, class:"labelle" %>
						                  <%= select_tag "department", options_for_select(@departments.collect{ |d| ["#{d.code}-#{d.namedepartment} ",d.id] }),class:"field",id:"Departement"%>
						                </div>

										<div>
											<%= label_tag "Adresse", nil, class:"labelle" %>
											<%= text_field_tag "Adresse", nil, class:"field" %>
										</div>
										<div>
											<%= label_tag "Un message particulier ?", nil, class:"labelle"%> <br>
											<%= text_area_tag "Un message particulier ?", nil, class:"field", placeholder:"Laisser votre message ici" %>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Date et heure de livraison</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="dateSelect form-half form-left">
											<div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
												<%= text_field_tag "Date", nil ,required: true, class: "form-control", placeholder:"MM/DD/YYYY"%>
												<div class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
										</div>
										<div class="timeSelect form-half form-right" >
											<%= select_tag "Heure", options_for_select([["Choisisser l'heure", ""], "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"]), class:"select-dro",id:'guiest_id1' %>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
					<%= submit_tag("Confirmer commandes", id:"submi-tag",  class:"confirm-command btn btn-primary a-btn text-btn") %>

					<% end %>
			</div>

			<div class="col-sm-3 sm-3-spa" id="panierTable">
				<div class="innerWrapper">
					<div class="table-responsive " >
						<table class="table">
							<thead>
								<tr>
									<th id="tableHead">Votre Panier</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div id="card">
											<h4 class="panierTitle"><i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i> Vos commandes <i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i></h4>
										</div>
										<div id="list-produits" class="panierContent">
											<div id="info-produit" class="hidden">
												<h5><i id="fa" class="fa fa-list" aria-hidden="true"></i> Vos produits</h5>

											</div>

										</div>



										<div class="totalPrix">
											<strong class="btn btn-primary btn-prix">Total : <span id="priceTotale">0</span> €</strong>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= javascript_pack_tag 'orders_index' %>

<style>

		.poli2{
			font-family:Georgia, serif!important;
			text-align: left !important;
			color:black!important ;
		} 
		.poli2 b{
			font-family:Brush Script MT, Brush Script Std, cursive!important;
			text-align: left !important;
			color:black!important ;
			font-size: 30px;
		}

</style>


 

