<div class="container">
<style type="text/css">
	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	p {
		font-size: 30px;
		text-align: left;
	}

	.prestation-group-spa, .prestation-group{
		margin-bottom: 40px; 
	}
</style>

<br><br>

<%= form_tag(save_session_path, id:"form-data") do %>
<div class="row">
	<div class="col-sm-9">

		<div class="classManasarakaSpasyMassaFotsinyAfakaOvaina">
			<div>
				<p>Je souhaite reserver <i class="fa fa-minus-circle" id="remove-spa"></i><span id="number-spa">0</span><i class="fa fa-plus-circle" id="add-spa"></i> spa</p>
			</div>
			<br><br><br><br>

			<div id="select-list-spa" style="margin-bottom: 200px;">
				<!-- les input type checkbox s'affiche ici a chaque clique -->
				
			</div>
		</div>

		<div class="classManasarakaSpasyMassaFotsinyAfakaOvaina">
			<div>
				<p>Je souhaite reserver pour : </p>
				<div>
					<p>Homme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_man"></i> <span id="number_man">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_man"></i></p>
				</div>
				<div>
					<p class="p-resa-spa">Femme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_woman"></i> <span id="number_woman">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_woman"></i></p>
				</div>
			</div>
			<div id="select-list-massage" style="margin-bottom: 200px;">
				<!-- les input type checkbox s'affiche ici a chaque clique -->
			</div>
		</div>

	</div>
	<div class="col-sm-3">
		<div>
			<h1>Harona</h1>
			<p id="warnning-message"><small>Vous n'avez pas encore sélectionné de prestation</small></p>
			<h3 class="hidden" id="totalPriceSpa">LOCATION SPA : <span ></span>€</h3>
			<div class="presta-spa-list" data-price="[0,0]">
				
			</div>
			<hr>
			<h3 class="hidden" id="totalPriceMassage">MASSAGE : <span></span> €</h3>
			<div class="presta-list" data-price="[0,0]">
				
			</div>
			<hr>
			<div>
				<ul>
					<li>Prix total <span id="totalPricePrestation">0.0</span>€</li>
					<li>Acompte total <span id="totalAcomptePrestation">0.0</span>€</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<%= submit_tag("Je valide", class:"je-valide")%>

<% end %>









<script type="text/html" id="for_location_spa">
	<div class="prestation-group-spa">
		<div class="flexbox">
			<div>
				<fieldset>
					<legend>Durée Location</legend>
					<% @spas.each do |spa| %>
						<div>
							<label for="<%= spa.duration %>h" class="label-time-spa"><%= spa.duration %>h</label>
							<input type="checkbox" id="<%= spa.duration %>h" name="spas[1][time][]" value="<%= spa.duration %>" data-price="[<%= spa.exceptional_price %>,<%= spa.exceptional_acompte %>,<%= spa.ordinary_price %>,<%= spa.ordinary_acompte %>]" class="input-time-spa" data-category="time">
						</div>
					<% end %>
				</fieldset>
			</div>

			<div>
				<fieldset>
					<legend>Ambiance</legend>
					<% @spa_ambiances.each do |spa_ambiance| %>
						<div>
							<input type="checkbox" name="spas[1][ambiance][]" value="<%= spa_ambiance.name %>" data-price="<%= spa_ambiance.price %>" id="a<%= spa_ambiance.id %>mbiance" class="input-ambiance-spa" data-category="ambiance" disabled="disabled">
							<label for="a<%= spa_ambiance.id %>mbiance" class="label-ambiance-spa"><%= spa_ambiance.name %></label>
						</div>
					<% end %>
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>Informations Sur La Location</legend>
					<div>
						<label for="logement" class="label-type-spa">Type de logement</label>
						<select name="spas[1][type][]" id="logement" class="select-type-spa">
							<option value="Appartement" selected="selected">Appartement</option>
							<option value="Villa - Maison">Villa - Maison</option>
						</select>
					</div>
					<div>
						<label for="installation" class="label-type-spa">Type d'installation</label>
						<select name="spas[1][type][]" id="installation" class="select-type-spa">
							<option value="Intérieur" selected="selected">Intérieur</option>
							<option value="Extérieur">Extérieur</option>
						</select>
					</div>
					<div>
						<label for="eau" class="label-type-spa">Système d'eau</label>
						<select name="spas[1][type][]" id="eau" class="select-type-spa">
							<option value="Cumulus - Ballon d'eau (eau chaude limitée)" selected="selected">Cumulus - Ballon d'eau (eau chaude limitée)</option>
							<option value="Chaudière (eau chaude continue)">Chaudière (eau chaude continue)</option>
						</select>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="for_massage_man">
	<div class='prestation-group' data-category='for_massage_man' data-title="Homme">
		<h2>Homme</h2>
		<div class="flexbox">
			<% @massagesDuration.each do |mduration| %>
			<div>
			<fieldset>
				<legend><%= mduration.duration %> minutes</legend>
				<% mduration.massageTypes("Homme").each do |massage_type| %>
				<div>
					<input type="checkbox" name="massages[homme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_man" data-subcategory="<%= massage_type.id %>man<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
					<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
				</div>
				<% end %>
			</fieldset>
			</div>
			<% end %>
		</div>
	</div>
</script>

<script type="text/html" id="for_massage_woman">
	<div class='prestation-group' data-category='for_massage_woman' data-title="Femme">
		<h2>Femme</h2>
		<div class="flexbox">
		<% @massagesDuration.each do |mduration| %>
		<div>
		<fieldset>
			<legend><%= mduration.duration %> minutes</legend>
			<% mduration.massageTypes("Femme").each do |massage_type| %>
			<div>
				<input type="checkbox" name="massages[femme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_woman" data-subcategory="<%= massage_type.id %>woman<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
				<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
			</div>
			<% end %>
		</fieldset>
		</div>
		<% end %>
		</div>
	</div>
</script>

</div>

<%= javascript_pack_tag 'orders_index' %>
