
<style>
	.police_massage{

  font-family: Jazz LET, fantasy;
  z-index: -4;
}
</style>

<br><br><br><br><br><br>

<div class="container">
	<h1>Reservation <%= @service.name %></h1>

	<div class="row">
		<div class="col-sm-9">

			<!-- ****** BOUTTON POUR L'AJOUT ET LA SUPPRESSION DE CARD ***** -->
			<% @categories.each do |category| %>
				<%= link_to "MOINS", deletecategory_path(category.id), class: "delCateg btn-primary",remote: true %>
				<strong><%= category.name %> <span id="puts-number-<%= category.name %>"> 0 </span></strong>
				<%= link_to "PLUS", addcategory_path(category.id), class: "addCateg btn-primary",remote: true %>
			<% end %>
			<!-- *************** FORMULAIRE POUR LA PRESTATION ************* -->
			<%= form_tag(saved_spa_path, class:"google", id:"form", 'data-zones':"#{@listPrestation}") do %>
				<div id="list-prestation">
					


				</div>
				<%= submit_tag("Reserver") %>
			<% end %>
			
		</div>
		<div class="col-sm-3">
			<!-- ************************* PANIER ************************** -->
			<div>
				<div id="card">
					<h2>Panier</h2>

					

					
				</div>
				<div>
					Total <span id="priceTotale">0</span> €
				</div>
			</div>
		</div>
	</div>
</div>


<%= javascript_pack_tag 'orders_index' %>

<!--

<style>
	.poli2{
    font-family:Georgia, serif!important;
	text-align: left !important;
	color:black!important ;
   } 
   .poli2 b{
    font-family:Brush Script MT, Brush Script Std, cursive!important;
    text-align: left !important;
    color:black!important ;
    font-size: 30px;
   }
</style>
< !-- css pour cette page  - ->
<link href="/css/reservation-massage.css" rel="stylesheet">
< !-- accroche général - ->
<section class="clearfix pageTitleArea" style="background-image: url(/img/blog/massage3.jpg);">
<div class="container">
    <div class="pageTitle">
        <span class="title-service poli2">Reservation</span><br>
        <span class="description-service poli2"><b>T</b>he real place of Mindfullness & Healthy body</span><br>
    </div>
</div>
</section>
-->

<!-- PRODUCTS SECTION -->
<section class="container-fluid clearfix productArea">
  <div class="container">
    <div class="secotionTitle">
      <h2 class="police_massage"><span>Nos produits </span>à vendre</h2>
    </div>
    <div class="row row-product">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="produtSingle">
          <div class="produtImage">
            <img src="/img/products/product-1.jpg" alt="Image Product" class="img-responsive">
            <div class="productMask"> </div>
          </div>
          <div class="productCaption">
            <h2><a href="/show_produit">Handmade Soap</a></h2>
            <h3>$19</h3>
            <ul class="list-inline productOption">
              <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-product">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="produtSingle">
            <div class="produtImage">
              <img src="/img/products/product-2.jpg" alt="Image Product" class="img-responsive">
              <div class="productMask"> </div>
            </div>
            <div class="productCaption">
              <h2><a href="single-product.html">Handmade Soap</a></h2>
              <h3>$19</h3>
              <ul class="list-inline productOption">
                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-product">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="produtSingle">
              <div class="produtImage">
                <img src="/img/products/product-3.jpg" alt="Image Product" class="img-responsive">
                <div class="productMask"> </div>
              </div>
              <div class="productCaption">
                <h2><a href="/show_produit">Handmade Soap</a></h2>
                <h3>$19</h3>
                <ul class="list-inline productOption">
                  <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row row-product">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="produtSingle">
                <div class="produtImage">
                  <img src="/img/products/product-4.jpg" alt="Image Product" class="img-responsive">
                  <div class="productMask"> </div>
                </div>
                <div class="productCaption">
                  <h2><a href="single-product.html">Handmade Soap</a></h2>
                  <h3>$19</h3>
                  <ul class="list-inline productOption">
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="text-down "><a href="/all_produit" class="lireSuite">Plus des produits...</a></div>
          </div>
        </section>
