<div class="container">
<style type="text/css">
	.flexbox {
		display: flex;
	}
	p {
		font-size: 30px;
		text-align: left;
	}
</style>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br>

<div id="select-prestation">
	<p>Je souhaite reserver pour : </p>
	<br>
	<div>
		<p class="p-resa-spa">Homme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_man"></i> <span id="number_man">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_man"></i></p>
	</div>

	<div>
		<p class="p-resa-spa">Femme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_woman"></i> <span id="number_woman">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_woman"></i></p>
	</div>
</div>



<%= form_tag(save_session_path, id:"form-data") do %>
	<div id="select-list-massage">

	</div>
	<br><br><br><br><br><br>
	<%= submit_tag("Je valide", class:"je-valide")%>
<% end %>










	

<script type="text/html" id="for_massage_man">
<div class='prestation-group' data-category='for_massage_man'>
	<h2>Homme</h2>
	<div class="flexbox">
		<% @massagesDuration.each do |mduration| %>
		<fieldset class="form-group">
			<legend><%= mduration.duration %> minutes</legend>
			<% mduration.massageTypes("Homme").each do |massage_type| %>
			<div>
				<input type="checkbox" name="massages[homme_0][]" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>_man0" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_man" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]" data-group="man_0" data-duration="<%= mduration.duration %>">
				<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>_man0"><%= massage_type.name %></label>
			</div>
			<% end %>
		</fieldset>
		<% end %>
	</div>
</div>
</script>

<script type="text/html" id="for_massage_woman">
<div class='prestation-group' data-category='for_massage_woman'>
	<h2>Femme</h2>
	<div class="flexbox">
	<% @massagesDuration.each do |mduration| %>
	<fieldset class="form-group">
		<legend><%= mduration.duration %> minutes</legend>
		<% mduration.massageTypes("Femme").each do |massage_type| %>
		<div>
			<input type="checkbox" name="massages[femme_0][]" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>woman" value="<%= massage_type.name %>||<%= mduration.duration %>" data-title="Massage Découverte" data-category="massage_woman" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]" data-subcategory="massage_woman_<%= mduration.duration %>min" data-duration="<%= mduration.duration %>" data-bonus="false">
			<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>woman"><%= massage_type.name %></label>
		</div>
		<% end %>
	</fieldset>
	<% end %>
	</div>
</div>
</script>	



<%= javascript_pack_tag 'orders_index' %>










<br><br><br><br><br><br><br><br><br><br><br><br>


</div>



<!-- 



a = $($("#for_massage_man").html())
m.fn.init [div.prestation-group]
a
m.fn.init [div.prestation-group]
a[0]
<div class=​"prestation-group" data-category=​"for_massage_man">​<h2>​Homme​</h2>​<div class=​"flexbox">​…​</div>​</div>​
a = $($("#for_massage_man").html())
m.fn.init [div.prestation-group]
a.find("input")



 -->
