<div class="container">
<style type="text/css">
	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}
	p {
		font-size: 30px;
		text-align: left;
	}
</style>
<br><br><br><br><br>

<div id="select-prestation">
	<p>Je souhaite reserver pour : </p>
	<br>
	<div>
		<p class="p-resa-spa">Homme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_man"></i> <span id="number_man">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_man"></i></p>
	</div>

	<div>
		<p class="p-resa-spa">Femme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_woman"></i> <span id="number_woman">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_woman"></i></p>
	</div>
</div>



<div class="row">
	<div class="col-sm-9">
		<%= form_tag(save_session_path, id:"form-data") do %>
			<div id="select-list-massage" style="margin-bottom: 200px;">

			</div>
			<%= submit_tag("Je valide", class:"je-valide")%>
		<% end %>
	</div>
	<div class="col-sm-3">
		<h1>Harona</h1>
		<div class="presta-list">
			
		</div>
	</div>
</div>




	

<script type="text/html" id="for_massage_man">
	<div class='prestation-group' data-category='for_massage_man' data-title="Homme">
		<h2>Homme</h2>
		<div class="flexbox">
			<% @massagesDuration.each do |mduration| %>
			<div>
			<fieldset class="form-group">
				<legend><%= mduration.duration %> minutes</legend>
				<% mduration.massageTypes("Homme").each do |massage_type| %>
				<div>
					<input type="checkbox" name="massages[homme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_man" data-subcategory="<%= massage_type.id %>man<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
					<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
				</div>
				<% end %>
			</fieldset>
			</div>
			<% end %>
		</div>
	</div>
</script>

<script type="text/html" id="for_massage_woman">
	<div class='prestation-group' data-category='for_massage_woman' data-title="Femme">
		<h2>Femme</h2>
		<div class="flexbox">
		<% @massagesDuration.each do |mduration| %>
		<div>
		<fieldset class="form-group">
			<legend><%= mduration.duration %> minutes</legend>
			<% mduration.massageTypes("Femme").each do |massage_type| %>
			<div>
				<input type="checkbox" name="massages[femme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_woman" data-subcategory="<%= massage_type.id %>woman<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
				<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
			</div>
			<% end %>
		</fieldset>
		</div>
		<% end %>
		</div>
	</div>
</script>
</div>
<%= javascript_pack_tag 'orders_index' %>
