<div class="container">
<style type="text/css">
	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}
	p {
		font-size: 30px;
		text-align: left;
	}
</style>

<br><br>

<%= form_tag(save_session_path, id:"form-data") do %>
<div class="row">
	<div class="col-sm-9">

		<div class="classManasarakaSpasyMassaFotsinyAfakaOvaina">
			<div>
				<p>Je souhaite reserver <i class="fa fa-minus-circle" id="remove-spa"></i><span id="number-spa">0</span><i class="fa fa-plus-circle" id="add-spa"></i> spa</p>
			</div>
			<div id="select-list-spa" style="margin-bottom: 200px;">
				<!-- les input type checkbox s'affiche ici a chaque clique -->



	<div>
		<h4>Informations sur la location</h4>
		<div class="flexbox">
			<div>
			<% @spas.each do |spa| %>
				<div>
					<label for="<%= spa.duration %>h"><%= spa.duration %>h</label>
					<input type="checkbox" id="<%= spa.duration %>h" name="spa_times[1][]" value="<%= spa.duration %>" data-price="[<%= spa.exceptional_price %>,<%= spa.exceptional_acompte %>,<%= spa.ordinary_price %>,<%= spa.ordinary_acompte %>]">
				</div>
			<% end %>
			</div>
			<div>
			<% @spa_ambiances.each do |spa_ambiance| %>
				<div>
					<input type="checkbox" name="spa_ambiances[1][]" value="<%= spa_ambiance.name %>" data-price="<%= spa_ambiance.price %>" id="a<%= spa_ambiance.id %>mbiance">
					<label for="a<%= spa_ambiance.id %>mbiance" class="label-option-spa"><%= spa_ambiance.name %></label>
				</div>
			<% end %>
			</div>
			<div>
				<div>
					<label for="logement1">Type de logement</label>
						<select data-index="1" name="spa_types[1][]" id="logement1">
							<option value="Appartement" selected="selected">Appartement</option>
							<option value="Villa - Maison">Villa - Maison</option>
						</select>
				</div>
				<div>
					<label for="installation1">Type d'installation</label>
					<select name="spa_types[1][]" id="installation1">
						<option value="Intérieur" selected="selected">Intérieur</option>
						<option value="Extérieur">Extérieur</option>
					</select>
				</div>
				<div>
					<label for="eau1">Système d'eau</label>
					<select name="spa_types[1][]" id="eau1">
						<option value="Cumulus - Ballon d'eau (eau chaude limitée)" selected="selected">Cumulus - Ballon d'eau (eau chaude limitée)</option>
						<option value="Chaudière (eau chaude continue)">Chaudière (eau chaude continue)</option>
					</select>
				</div>
			</div>
		</div>
	</div>






				
			</div>
		</div>

		<div class="classManasarakaSpasyMassaFotsinyAfakaOvaina">
			<div>
				<p>Je souhaite reserver pour : </p>
				<div>
					<p>Homme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_man"></i> <span id="number_man">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_man"></i></p>
				</div>
				<div>
					<p class="p-resa-spa">Femme <i class="fa fa-minus-circle remove-massage" data-category="for_massage_woman"></i> <span id="number_woman">0</span> <i class="fa fa-plus-circle add-massage" data-category="for_massage_woman"></i></p>
				</div>
			</div>
			<div id="select-list-massage" style="margin-bottom: 200px;">
				<!-- les input type checkbox s'affiche ici a chaque clique -->
			</div>
		</div>

	</div>
	<div class="col-sm-3">
		<div>
			<h1>Harona</h1>
			<p><small>Vous n'avez pas encore sélectionné de prestation</small></p>
			<hr>
			<div class="presta-list">
				
			</div>
			<hr>
			<div>
				<ul>
					<li>Prix total <span id="totalPricePrestation">0.0</span>€</li>
					<li>Acompte total <span id="totalAcomptePrestation">0.0</span>€</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<%= submit_tag("Je valide", class:"je-valide")%>
<% end %>





<script type="text/html" id="for_massage_man">
	<div class='prestation-group' data-category='for_massage_man' data-title="Homme">
		<h2>Homme</h2>
		<div class="flexbox">
			<% @massagesDuration.each do |mduration| %>
			<div>
			<fieldset class="form-group">
				<legend><%= mduration.duration %> minutes</legend>
				<% mduration.massageTypes("Homme").each do |massage_type| %>
				<div>
					<input type="checkbox" name="massages[homme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_man" data-subcategory="<%= massage_type.id %>man<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
					<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
				</div>
				<% end %>
			</fieldset>
			</div>
			<% end %>
		</div>
	</div>
</script>

<script type="text/html" id="for_massage_woman">
	<div class='prestation-group' data-category='for_massage_woman' data-title="Femme">
		<h2>Femme</h2>
		<div class="flexbox">
		<% @massagesDuration.each do |mduration| %>
		<div>
		<fieldset class="form-group">
			<legend><%= mduration.duration %> minutes</legend>
			<% mduration.massageTypes("Femme").each do |massage_type| %>
			<div>
				<input type="checkbox" name="massages[femme_0][]" class="subcategory_massage_input" id="prestation<%= mduration.duration %>min_<%= massage_type.id %>" value="<%= massage_type.name %>||<%= mduration.duration %>" data-category="massage_woman" data-subcategory="<%= massage_type.id %>woman<%= mduration.duration %>" data-title="<%= massage_type.name %>" data-price="[<%= mduration.exceptional_price %>,<%= mduration.exceptional_acompte %>,<%= mduration.ordinary_price %>,<%= mduration.ordinary_acompte %>]">
				<label for="prestation<%= mduration.duration %>min_<%= massage_type.id %>"><%= massage_type.name %></label>
			</div>
			<% end %>
		</fieldset>
		</div>
		<% end %>
		</div>
	</div>
</script>
</div>
<%= javascript_pack_tag 'orders_index' %>
