<!-- accroche général-->
<section class="clearfix pageTitleArea" style="background-image: url(/img/blog/pageTitle-bg02.jpg);">
<div class="container">
    <div class="pageTitle">
        <span class="title-service">Massage</span><br>
        <span class="description-service">The real place of Mindfullness & Healthy body</span><br>
    </div>
</div>
</section>


<!-- ORDER SECTION -->
    <section class="clearfix orderArea patternbg">
      <div class="container">
        <div class="row">
		  <div class="col-sm-12">
		  <center>
              <div class="panel panel-default cartInfo">
                <div class="panel-heading patternbg"><h2>Prestation</h2></div>
				<div class="panel-body tableArea bouton-plus-moin patternbg">
						<% @categories.each do |category| %>
						<%= link_to "-", deletecategory_path(category.id), class: "delCateg btn-moin",remote: true %>
						<strong><%= category.name %> <span id="puts-number-<%= category.name %>"><%= countnumbre(category.name,category.id) %></span> </strong>
						<%= link_to "+", addcategory_path(category.id), class: "addCateg btn-moin",remote: true %>
						<% end %>
                </div>
              	</div>
		  	  </div>
		  </center>
        </div>
      </div>
    </section>


<div class="row">
	<div class="col-sm-9">
<!--==========	PRESTATION PRESTATION PRESTATION PRESTATION PRESTATION   =============-->
	<div class="prestation-info">
		<h2 class="patternbg"><center>INFORMATION DU PRESTATION</center></h2>
		<% unless @paniers == nil %>
		<div id="list-prestation">
			<div class="row">
				<% @paniers.each_index do |id| %>
					<div class="prestation-name-<%= @paniers[id]["category"][1] %> ">
						<div class="col-sm-4 categ">
							<h5><%= @paniers[id]["category"][0] %></h5>
							<ul>
								<% subcategories(id).each do |subcategory| %>
								<li><%= subcategory.name %> <%= subcategory.price %> € <%= check_box_tag :name, 1, isincommandesubcategory(id,subcategory) , data: { remote: true, url: subcategory_path, params: {key: id, subcategory: subcategory.id}.to_param, method: "put" }, class:"check"%></li>
								<% end %>
							</ul>
						</div>	
					</div>
				<% end	%>
			</div>
		</div>
		<% end	%>
	</div>
		

		<hr>
		<div class="row">
		<div class="col-sm-12">
		<div class="crenaux">
			<h2>Choix du créneaux horaire</h2>
			<p>choisir ici la date et l'heur pour la prestation</p>
			<br><br><br>
		</div>
		</div>
		</div>
		<hr>
		<div class="reserver">
			<h2>Confirmer la commande</h2>
			<p>
				Se connecter si non conecter<br>
				(Aprè clic sur reserver) Question suplementaire au produits<br>
				(Aprè clic sur reserver) Choix d'adresse de livraison<br>
				(Aprè clic sur reserver) Recapilatif de commande<br>
			</p>
			<strong>Lien pour enregistré la commande dans la table</strong><br>
			<%= link_to "Reserver", saved_commande_path, class: "btn btn-success"%>
		</div>

	</div>
	<!-- PANIER PANIER PANIER PANIER PANIER PANIER PANIER PANIER
================================================================ -->
	<div class="col-sm-3" id="panier">
		<div class="prestation-info ">
		<h2 class="patternbg panier-title">VOS PANIER</h2>
		<div class="alert alert-success" id="js-price" role="alert">Somme: <%= totalprice() %> €</div>
		<div id="basket">
			<% unless @paniers.empty? || totalprice() == 0 %>
				<% @paniers.each_index do |id| %>
					<div class="basket-group-<%= @paniers[id]["category"][1] %>">
						<% unless @paniers[id]["subcategory"] == nil %>
							<h5><%= @paniers[id]["category"][0] %></h5>
							<ul id="basket-list-<%= id %>">
								<% @paniers[id]["subcategory"].each do |subcat| %>
									<li><%= subcat[1] %></li>
								<% end %>
							</ul>
						<% end %>
					</div>
				<% end %>
			<% else	%>
				<p id="no-basket-list">Vous n'avez pas encore sélectionné de prestation</p>
			<% end	%>
		</div>
		</div>
	</div>

</div>

