<link href="/css/resa.css" rel="stylesheet">
<div class="container">
	<div id="overlay">
		<div id="text">
			<div class="set-zones">
				<h2>Je choisi ma zone géographique </h2>

				<%= form_tag(zone_path, remote: true) do %>
				<div class="pays">
					<label class="labelle" for="country-choice">Pays</label>
					<select name="country" id="country-choice" class="field">
						<option value="" checked>Pays</option>
						<% @countries.collect do |d| %>
						<option value="<%=d.name%>"><%=d.name%></option>
						<% end %>
					</select>
				</div>

				<div id="list-department" class="hidden">
					<label class="labelle" for="Departement">Departement</label>
					<select name="department" id="Departement" class="field">
						<option value="">Liste departement</option>
						<% @departments.collect do |d| %>
						<option value="<%= d.name %>"><%="#{d.code}-#{d.name}"%></option>
						<% end %>
					</select>
				</div>

				<div class="dateSelect form-half form-left select-date">
					
					<label class="labelle" for="Date">Date</label>
					<div class="input-group date ed-datepicker filterDate input-calendar" data-provide="datepicker">
						<input type="text" name="date" id="Date" placeholder="MM/DD/YYYY" class="form-control" required>
						<div class="input-group-addon calendar-icone">
							<span class="fa fa-calendar"></span>
						</div>
					</div>
				</div>
				<div >
					<%= submit_tag("Je valide", class:"je-valide", onclick:"off()")%>	
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- ==========================CONTENU ACCORDEONS================= -->
	<div class="container allfaq">
		<div class="row">
			<div class="col-sm-9">
				<!-- session js -->
				<%= form_tag(save_session_path,id:"form-data",'data-id':"#{@idMassage}",'data-spas':"#{@spas}",'data-spaoptions':"#{@spaoptions}",'data-massages':"#{@massages}") do %>
				<!-- session js fin -->
				<div id="prestation-list">
					<div class="accordion js-accordion">

						<div id="loc-spa-fafana" class="accordion__item js-accordion-item">
							<div class="accordion-header js-accordion-header patternbg"><center>LOCATION SPA</center>
							</div> 
							<div class="accordion-body js-accordion-body">
								<div class="accordion-body__contents">
									<div class="spa">
										
										<div class="spa-click">
											<p class="p-resa-spa">Je souhaite reserver <i class="fa fa-minus-circle" id="remove-spa"></i><span id="number-spa"> 0 </span><i class="fa fa-plus-circle" id="add-spa"></i> spa</p>
										</div>
										<hr class="interligne">
										<div class="row">
											<div id="spa-input">

											</div>
										</div>
										<hr class="interligne">
										<!-- HEURE DE RESERVATION -->
										<center>
											<label class="label-heure" for="heure-spa">Choix de l'heure</label>
											<select name="heureSpa" id="heure-spa" class="select-dro">
												<option value="">Heure</option>
												<option value="08:00">08:00</option>
												<option value="08:30">08:30</option>
												<option value="09:00">09:00</option>
												<option value="09:30">09:30</option>
												<option value="10:00">10:00</option>
												<option value="10:30">10:30</option>
												<option value="11:00">11:00</option>
												<option value="11:30">11:30</option>
												<option value="12:00">12:00</option>
												<option value="12:30">12:30</option>
												<option value="13:00">13:00</option>
												<option value="13:30">13:30</option>
												<option value="14:00">14:00</option>
												<option value="14:30">14:30</option>
												<option value="15:00">15:00</option>
												<option value="15:30">15:30</option>
												<option value="16:00">16:00</option>
												<option value="16:30">16:30</option>
												<option value="17:00">17:00</option>
												<option value="17:30">17:30</option>
												<option value="18:00">18:00</option>
												<option value="18:30">18:30</option>
												<option value="19:00">19:00</option>
												<option value="19:30">19:30</option>
												<option value="20:00">20:00</option>
												<option value="20:30">20:30</option>
												<option value="21:00">21:00</option>
												<option value="21:30">21:30</option>
												<option value="22:00">22:00</option>
											</select>
										</center>
									</div>
								</div>

							</div><!-- end of accordion body -->
						</div><!-- end of accordion item -->
						<div id="massage-fafana" class="accordion__item js-accordion-item">
							<div class="accordion-header js-accordion-header patternbg"><center>MASSAGE À DOMICILE</center>
							</div> 
							<div class="accordion-body js-accordion-body">
								<div class="accordion-body__contents">
									<div class="massage">
										<!-- #################### -->
										<div id="select-prestation">
											<p class="p-resa-spa">Je souhaite reserver pour :<p>
												<div>
													<p class="p-resa-spa">Homme <i class="fa fa-minus-circle remove-massage" data-cat="Homme"></i><span id="number-Homme"> 0 </span><i class="fa fa-plus-circle add-massage" data-cat="Homme"></i></p>
												</div>
												<div>
													<p class="p-resa-spa">Femme <i class="fa fa-minus-circle remove-massage" data-cat="Femme"></i><span id="number-Femme"> 0 </span><i class="fa fa-plus-circle add-massage" data-cat="Femme"></i></p>
												</div>
											</div>

											<div id="massage-input">


											</div>

											<!-- #################### -->
											<center class="praticien">
												<div class="row">
													<div class="col-sm-12 sm-9-spa">
														<div class="innerWrapper">
															<div class="table-responsive">
																<table class="table">
																	<thead>
																		<tr class="tr">
																			<th id="tableHead">Infos complémentaires</th>
																		</tr>
																	</thead>
																</table>
															</div>
														</div>
													</div>
												</div>
												<h4><span class="titlePraticien">Type de praticien</span></h4>
												<div class="praticiens">
													<input type="radio" id="man" name="praticien" value="Homme" class="praticien-list" >
													<label for="man"><i id="praticienman-label" class="fa fa-male" aria-hidden="true"></i></label>
												</div>
												<div class="praticiens">
													<input type="radio" id="woman" name="praticien" value="Femme" class="praticien-list" >
													<label for="woman"><i id="praticien-label" class="fa fa-female" aria-hidden="true"></i></label>
												</div>
												<div class="praticiens pratText">
													<input type="radio" id="other" name="praticien" value="Peu importe" class="praticien-list" >
													<label for="other"> <span class="label-no-fa">Peu importe</span></label>
												</div>
											</center>

											<hr class="interligne">
											<!-- HEURE DE RESERVATION -->
											<center>
												<label class="label-heure" for="heure-massage">Choix de l'heure</label>
												<select name="heureMassage" id="heure-massage" class="select-dro">
													<option value="">Heure</option>
													<option value="08:00">08:00</option>
													<option value="08:30">08:30</option>
													<option value="09:00">09:00</option>
													<option value="09:30">09:30</option>
													<option value="10:00">10:00</option>
													<option value="10:30">10:30</option>
													<option value="11:00">11:00</option>
													<option value="11:30">11:30</option>
													<option value="12:00">12:00</option>
													<option value="12:30">12:30</option>
													<option value="13:00">13:00</option>
													<option value="13:30">13:30</option>
													<option value="14:00">14:00</option>
													<option value="14:30">14:30</option>
													<option value="15:00">15:00</option>
													<option value="15:30">15:30</option>
													<option value="16:00">16:00</option>
													<option value="16:30">16:30</option>
													<option value="17:00">17:00</option>
													<option value="17:30">17:30</option>
													<option value="18:00">18:00</option>
													<option value="18:30">18:30</option>
													<option value="19:00">19:00</option>
													<option value="19:30">19:30</option>
													<option value="20:00">20:00</option>
													<option value="20:30">20:30</option>
													<option value="21:00">21:00</option>
													<option value="21:30">21:30</option>
													<option value="22:00">22:00</option>
												</select>
											</center>
										</div>
									</div>
								</div><!-- end of accordion body -->
							</div><!-- end of accordion item -->
						</div>


						<div class="row">
							<div class="col-sm-12 sm-9-spa">
								<div class="innerWrapper">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th id="tableHead" class="accordion-header" ><center >FAITES PLAISIR AVEC NOS IDÉES CADEAUX</center></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<div class="row">
															<% @cadeaus.each do |cadeau| %>
															<div class="col-sm-3">

																<div><img src="/img/products/<%= cadeau.name %>.jpg" alt="" class="image-produit"> 
																</div>
																<div class="description-produit">
																	<%= cadeau.name %> <br>
																	Prix : <%= cadeau.price %> € <br>
																	<strong>Nombres : </strong>
																	<i class="fa fa-minus-circle cadeau-rmv btn-produits" data-id="<%= cadeau.id %>" data-price="<%= cadeau.price %>" data-name="<%= cadeau.name %>"></i>
																	<strong><span id="<%= cadeau.id %>-nbr">0</span></strong>
																	<i class="fa fa-plus-circle cadeau-add btn-produits" data-id="<%= cadeau.id %>" data-price="<%= cadeau.price %>" data-name="<%= cadeau.name %>"></i>

																	<input type="text" value="[]" name="cadeau" id="cadeau-id" class="hidden">

																</div>
															</div>
															<% end %>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>  
								</div>     
							</div>
						</div>
					</div>
					
					<div class="btn-resa">
						<%= submit_tag("Suivant", id:"submi-tag",  class:"confirm-command btn btn-primary btn-resa-text text-btn btn-resa-text") %>
						<% end %>
					</div>
				</div>

				<!-- PANIER DYNAMIQUE -->
				<div class="col-sm-3 sm-3-spa" id="panierTable">
					<div class="innerWrapper">
						<div class="table-responsive " >
							<table class="table">
								<thead>
									<tr>
										<th id="tableHead">
											<center>VOTRE PANIER</center>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div id="card">
												<h4 class="panierTitle"> Votre commande <i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i></h4>
												<p class="p-panier" id="empty-order">Vous n'avez pas encore <br> sélectionné de prestation</p>

												<div id="spa-order" class="hidden">
													<h3 class="subTitlePanierSpa">Location spa <span id="spa-price-total" data-price=""></span></h3>
												</div>

												<div id="massage-order" class="hidden">
													<h3 class="subTitlePanierMsg">Massage <span id="massage-price-total" data-price=""></span></h3>
												</div>

												<div id="cadeau-order" class="hidden">
													<h3 class="subTitleCadeau">Vos cadeaux :  <span id="cadeau-price-total"></span> €</h3>
													<div class="cadeaux"></div>
												</div>
												<div id="code-promo">
													<h3 class="subTitlePanier">Code promo ?</h3>
													<%= form_tag(code_promo_path, remote: true) do %>
													<div id="alert-code" class="hidden alert alert-success" role="alert">
														Votre code promo est validé avec succès
													</div>
													<label for="codeP"></label>
													<input type="text" name="code" id="codeP", placeholder="Code promo">
													<%= submit_tag("valider") %>	
													<% end %>
												</div>
												<div class="prixTotals">
													<p class="p-prixTotal">PRIX TOTAL : <strong id="total-price">0,00</strong> €</p>
													<p class="p-prixTotal">ACOMPTE TOTAL : <strong id="total-acompte">0,00</strong> €</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	

				<!-- <div class="col-sm-3">
					<h2>Votre commande</h2>
					<p id="empty-order">Vous n'avez pas encore sélectionné de prestation</p>
					<div id="spa-order" class="hidden">
						<h3>Location spa <span id="spa-price-total" data-price=""></span></h3>
					</div>
					<div id="massage-order" class="hidden">
						<h3>Massage <span id="massage-price-total" data-price=""></span></h3>

					</div>
					<div id="cadeau-order" class="hidden">
						<h3>Vos cadeaux <span id="cadeau-price-total"></span> €</h3>
						<div>
						</div>
					</div>
					<div id="code-promo">
						<h3>Code promo?</h3>
						<%= form_tag(code_promo_path, remote: true) do %>
						<div id="alert-code" class="hidden alert alert-success" role="alert">
							Votre code promo est validé avec succès
						</div>
						<label for="codeP">code promo : </label>
						<input type="text" name="code" id="codeP">
						<%= submit_tag("valider") %>	
						<% end %>
					</div>
					<div>
						<p>PRIX TOTAL: <strong id="total-price">0,00</strong> €</p>
						<p>ACOMPTE TOTAL: <strong id="total-acompte">0,00</strong> €</p>
					</div>

				</div> -->


				<!-- Fin formulaire -->
				<!-- ======================================================================== -->
				<%= javascript_pack_tag 'orders_index' %>

<!--

<div id="spa-order" class="">
	<h3>Location spa <span id="spa-price-total" data-price="[350,225]">prix: 350€ acompte: 225€</span></h3>
	<div class="spa-order" id="spa-list-3">
		<p>Pour <span id="spa-time-3">72</span> h <span id="spa-price-3">prix: 200€ acompte: 120€</span></p>
		<ul>
			<li>Décoration romantique</li>
			<li>Décoration anniversaire / fête</li>
			<li>Fontaine chocolat (fournie avec chocolat)</li>
		</ul>
	</div>
	<div class="spa-order" id="spa-list-4">
		<p>Pour <span id="spa-time-4">48</span> h <span id="spa-price-4">prix: 150€ acompte: 105€</span></p>
		<ul>
			<li>Décoration romantique</li>
			<li>Décoration anniversaire / fête</li>
			<li>Fontaine chocolat (fournie avec chocolat)</li>
		</ul>
	</div>
</div>


 ##################################################################################################### 
selected=\"selected\"
-->	


<script data-turbolinks-track = "reload" src="/js/resa-js.js"></script>







<!-- <div class=\"row\"><div class=\"col-sm-6\"><h5>Massages</h5>"+ htmlSub +"</div></div> -->

