<%= javascript_pack_tag 'orders_index' %>
<br><br><br><br><br><br>

<div class="container">
	<h1>Reservation <%= @service.name %></h1>

	<div class="row">
		<div class="col-sm-9">

			<!-- ****** BOUTTON POUR L'AJOUT ET LA SUPPRESSION DE CARD ***** -->
			<% @categories.each do |category| %>
				<%= link_to "MOINS", deletecategory_path(category.id), class: "delCateg btn-primary",remote: true %>
				<strong><%= category.name %> <span id="puts-number-<%= category.name %>"> 0 </span></strong>
				<%= link_to "PLUS", addcategory_path(category.id), class: "addCateg btn-primary",remote: true %>
			<% end %>
			<!-- *************** FORMULAIRE POUR LA PRESTATION ************* -->
			<%= form_tag(saved_spa_path, class:"google", id:"form") do %>
				<div id="list-prestation">
					


				</div>
				<%= submit_tag("Reserver") %>
			<% end %>
			
		</div>
		<div class="col-sm-3">
			<!-- ************************* PANIER ************************** -->
			<div id="card">
				<h2>Panier</h2>

				
				
			</div>
		</div>
	</div>
</div>

<br><br><br><br><br><br>


<!--

<style>
	.poli2{
    font-family:Georgia, serif!important;
	text-align: left !important;
	color:black!important ;
   } 
   .poli2 b{
    font-family:Brush Script MT, Brush Script Std, cursive!important;
    text-align: left !important;
    color:black!important ;
    font-size: 30px;
   }
</style>
< !-- css pour cette page  - ->
<link href="/css/reservation-massage.css" rel="stylesheet">
< !-- accroche général - ->
<section class="clearfix pageTitleArea" style="background-image: url(/img/blog/massage3.jpg);">
<div class="container">
    <div class="pageTitle">
        <span class="title-service poli2">Reservation</span><br>
        <span class="description-service poli2"><b>T</b>he real place of Mindfullness & Healthy body</span><br>
    </div>
</div>
</section>
-->
