
<style>
  .poli2{

   font-family:Georgia, serif!important;
   text-align: left !important;
   color:black!important ;
 }

 .poli2 b{

   font-family:Palatino, URW Palladio L, serif!important;
   text-align: left !important;
   color:black!important ;
   font-size: 60px;

 }
</style>



<!--==========	css pour cette page  =============-->
<link href="/css/reservation-spa.css" rel="stylesheet">

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(/img/blog/spa3.jpeg);">
  <div class="container">
   <div class="pageTitle">
    <h1 id = "bannerTitle" class="poli2">réservation</h1> 
    <h1 id="faqTitle" class="poli2"><b><h3>Location spa à domicile</h3></b></h1> 
  </div>
</div>
</section>


<!-- ORDER SECTION -->
<section class="clearfix orderSection padding">
  <div class="container">
    <div class="orderBox  patternbg">
      Faites vos réservations
    </div>
    <div class="row">
      <div class="col-sm-9 sm-9-spa">
        <div class="innerWrapper">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th id="tableHead">Type de location spa</th>

                  <th id="tableHead">Quantités</th>
                </tr>
              </thead>
              <tbody>
                <% @prestations.each do |prestation| %>
                <tr id="tableContent"><td id="tableContent"><%= prestation.name %> pour <%= prestation.duration %>H €<%= prestation.price.to_i %></td>
                  <td>
                    <%= link_to del_order_spa_path(prestation.id), class: "",remote: true do%>
                  </i><i class="fa fa-minus-circle"></i>
                  <% end %>
                  <strong class="quantité" id="nombre-<%= dom_id(prestation) %>"><%= session[:params_spa].count(prestation.id) %></strong>
                  <%= link_to add_order_spa_path(prestation.id), class: "",remote: true  do%>
                  <i class="fa fa-plus-circle"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th id="tableHead">Informations sur la location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= form_tag(saved_spa_path) do %>
                  <div id="information-prestation">
                    <% if @params.empty? %>
                    <p id="info-45">Vous n'avez pas encore choisi de prestation spa</p>
                    <% else %>
                    <% @params.each_index do |index| %>
                    <% subcategory = infosubcategory(@params[index]) %>
                    <div class="group-form-<%= subcategory.id %>">
                      <%= render partial: "add_spa_reservation", locals: { subcategory: subcategory, i: index } %>
                    </div>
                    <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th id="tableHead">Zone de livraison</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="coordonnee">
                  <div>
                    <%= label_tag 'Pays', nil, class:"labelle" %>
                    <%=select_tag 'country_id', options_for_select(@pays.collect{ |u| [u.name] }),class:"field"%>
                  </div>
                  <div>
                    <%= label_tag "Department", nil, class:"labelle" %>
                    <%= select_tag "department_id", options_for_select(@departments.collect{ |d| ["#{d.code}-#{d.namedepartment} "] }),class:"field"%>
                  </div>
                  <div>
                    <%= label_tag "Adresse", nil, class:"labelle" %>
                    <%= text_field_tag "Adresse", nil, class:"field" %>
                  </div>
                  <div>
                    <%= label_tag "Un message particulier ?", nil, class:"labelle"%> <br>
                    <%= text_area_tag "Un message particulier ?", nil, class:"field", placeholder:"Laisser votre message ici" %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th id="tableHead">Date et heure de livraison</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="dateSelect form-half form-left">
                    <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                      <%= text_field_tag "Date", nil ,required: true, class: "form-control", placeholder:"MM/DD/YYYY"%>
                      <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                      </div>
                    </div>
                  </div>
                  <div class="timeSelect form-half form-right" >
                    <%= select_tag "Heure", options_for_select([["Choisisser l'heure", ""], "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"]), class:"select-dro",id:'guiest_id1' %>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <%= submit_tag "Confirmer", class:"confirm-command btn btn-primary a-btn text-btn" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3 sm-3-spa" id="panierTable">
      <div class="innerWrapper">
        <div class="table-responsive " >
          <table class="table">
            <thead>
              <tr>
                <th id="tableHead">Panier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div id="panier">
                    <h4 class="panierTitle"><i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i> Vos commandes <i class="fa fa-shopping-basket" aria-hidden="true" id="fa"></i></h4>
                    <div id="list-prestation-spa" >
                      <% unless @params.empty? %>
                      <% @params.uniq.each do |param| %>
                      <% subcategory = infosubcategory(param) %>
                      <div id="panier-<%= dom_id(subcategory) %>">
                        <%= render partial: "add_panier_reservation_spa", locals: { subcategory: subcategory, nombre: session[:params_spa].count(param) } %>
                      </div>
                      <% end %>
                      <%else%>
                      <p id="panier-empty">Selectionner une prestation</p>
                      <% end %>
                    </div>
                    <div>
                      <strong class="btn btn-primary btn-prix">PRIX TOTAL: €<span id = "prix-total"><%= prixTotal() %></span></strong>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<div>
  <% @produits.each do |produit| %>


  <% end %>
</div>


