<div class="container">

  <br><br><br>
  <div class="row">
    <div class="col-sm-9">

      <h2>Reservation SPA</h2>
    <ul>
      <% @prestations.each do |prestation| %>
        <li>
          <%= link_to "moins", del_order_spa_path(prestation.id), class: "",remote: true %>
          <%= prestation.name %> pour <%= prestation.duration %>H €<%= prestation.price.to_i %>
          <%= link_to "plus", add_order_spa_path(prestation.id), class: "",remote: true %>
          <strong id="nombre-<%= dom_id(prestation) %>">Nombre: <%= session[:params_spa].count(prestation.id) %></strong>
        </li>
      <% end %>
    </ul>

    <%= form_tag(saved_spa_path) do %>
      <h3>Information pour la location</h3>
      <div id="information-prestation">
        <% if @params.empty? %>
          <p id="info-45">Vous n'avez pas encore choisi de prestation spa</p>
        <% else %>
          <% @params.each_index do |index| %>
            <% subcategory = infosubcategory(@params[index]) %>
            <div class="group-form-<%= subcategory.id %>">
              <%= render partial: "add_spa_reservation", locals: { subcategory: subcategory, i: index } %>
            </div>
          <% end %>
        <% end %>
      </div>

      <h3>Zone de livrasion</h3>
      <div>
        <%= label_tag 'Pays' %>
        <%= text_field_tag 'Pays' %>
      </div>
      <div>
        <%= label_tag "Department" %>
        <%= text_field_tag "Department" %>
      </div>
      <h3>Date et heurs de livraison</h3>
      <div class="dateSelect form-half form-left">
        <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
          <%= text_field_tag "Date", nil ,required: true, class: "form-control", placeholder:"MM/DD/YYYY"%>
          <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </div>
        </div>
      </div>
      <div class="timeSelect form-half form-right" >
        <%= select_tag "Heurs", options_for_select([["Choisisser l'heur", ""], "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"]), class:"select-drop",id:'guiest_id1' %>
      </div>

      <h3>Coordonnée</h3>
      <div>
        <%= label_tag "Adresse" %>
        <%= text_field_tag "Adresse" %>
      </div>

      <div>
        <%= label_tag "Un message particulier ?" %>
        <%= text_field_tag "Un message particulier ?" %>
      </div>
      
      <div>
        <%= submit_tag %>
      </div>
    <% end %>
      
    </div>
    <div class="col-sm-3">
      <h2>Panier</h2>
      <div id="panier">
        <h4>List de vos spa selon l'heur de location : </h4>
        <div id="list-prestation-spa">
          <% unless @params.empty? %>
              <% @params.uniq.each do |param| %>
                <% subcategory = infosubcategory(param) %>
                <div id="panier-<%= dom_id(subcategory) %>">
                  <%= render partial: "add_panier_reservation_spa", locals: { subcategory: subcategory, nombre: session[:params_spa].count(param) } %>
                </div>
              <% end %>
          <%else%>
            <p id="panier-empty">Selectionner une prestation</p>
          <% end %>
        </div>
        <div>
          <strong>PRIX TOTAL: €<span id = "prix-total"><%= prixTotal() %></span></strong>
        </div>
      </div>
    </div>
  </div>
  <div>
    <% @produits.each do |produit| %>

        
    <% end %>
  </div>
</div>

