<div class="container">
  <br><br><br>
  <h1>Reservation SPA</h1>
  <ul>
    <% @prestations.each do |prestation| %>
      <li><%= prestation.name %> pour <%= prestation.duration %>H €<%= prestation.price.to_i %></li>
    <% end %>
  </ul>
  <div>
    <% @produits.each do |produit| %>
      
    <% end %>
  </div>

  <%= form_tag(saved_spa_path) do %>
    <h3>Information pour la location</h3>
    <!-- Les paramètres pour le spa a loué -->
    <div class="Information-prestation">
      <div>
        <%= label_tag "Type de logement" %>
        <%= select_tag "Type de logement", options_for_select([["Appartement","0"],["Villa - Maison","1"]]), class:"" %>
      </div>
      <div>
        <%= label_tag "Type d'installation" %>
        <%= select_tag "Type d'installation", options_for_select([["Intérieur","0"],["Extérieur","1"]]), class:"" %>
      </div>
      <div>
        <%= label_tag "Système d'eau" %>
        <%= select_tag "Système d'eau", options_for_select([["Cumulus - Ballon d'eau (eau chaude limitée)","0"],["Chaudière (eau chaude continue)","1"]]), class:"" %>
      </div>
    </div>
    <h3>Zone de livrasion</h3>
    <div>
      <%= label_tag 'Pays' %>
      <%= text_field_tag 'Pays' %>
    </div>
    <div>
      <%= label_tag "Department" %>
      <%= text_field_tag "Department" %>
    </div>
    <h3>Date et heurs de livraison</h3>
    <div class="dateSelect form-half form-left">
      <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
        <%= text_field_tag "Date", nil ,required: true, class: "form-control", placeholder:"MM/DD/YYYY"%>
        <div class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </div>
      </div>
    </div>
    <div class="timeSelect form-half form-right" >
      <%= select_tag "Heurs", options_for_select([["Choisisser l'heur", ""], "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"]), class:"select-drop",id:'guiest_id1' %>
    </div>
    <h3>Coordonnée</h3>
    <div>
      <%= label_tag "Adresse" %>
      <%= text_field_tag "Adresse" %>
    </div>

    <div>
      <%= label_tag "Un message particulier ?" %>
      <%= text_field_tag "Un message particulier ?" %>
    </div>
    
    <div>
      <%= submit_tag %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  
</script>