function updatesubcategory(){
	let basket = document.getElementById("basket-list-<%= @arrayid %>")
	let somme_price = <%= totalprice() %>
	let is_empty_prestation = <%=session[:prestation][@arrayid]["subcategory"].empty?%>
	
	if (somme_price == 0){
		document.getElementById("basket").innerHTML = "<p id=\"no-basket-list\">Vous n'avez pas encore sélectionné de prestation</p>"
	}
	else{
		let p = document.getElementById("no-basket-list")
		if(p){
			p.remove()
		}
		if (basket){
			if (is_empty_prestation){
				basket.parentNode.remove()
			}
			else{
				basket.innerHTML = "<%= j render 'infoupdatesubcategory' %>"
			}
		}	
		else{
			/* Crée l'element s'il n'y en a pas encore */
			let commande = document.getElementById("basket")
			let div2 = document.createElement("div")
			div2.classList.add("basket-group-<%= @category[1] %>")
			div2.innerHTML = "<h5><%= @category[0] %></h5><ul id=\"basket-list-<%= @arrayid %>\"></ul>"
			commande.appendChild(div2)
			basket = document.getElementById("basket-list-<%= @arrayid %>")
			/* Mettre a jours les sous-categories */
			basket.innerHTML = "<%= j render 'infoupdatesubcategory' %>"
		}
	}

	document.getElementById("js-price").innerHTML = "Somme: " + somme_price + " €"
}
updatesubcategory()
