<link href="/css/summary.css" rel="stylesheet">
<div class="container" style="background: white;">
	<style>
i{
margin-left: 10px;
}
	</style>

	<div class="secotionTitle">
		<h2 id="service" class="poli1 police_massage"><span>Récapitulatif de votre commande</span></h2>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<section class="clearfix orderSection padding">
				<div class="col-xs-12">
					<div class="innerWrapper">
						<% unless session[:myPrestation]["spa"].empty? %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>LOCATION SPA</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<% session[:myPrestation]["spa"].each do |spa| %> 
											<div class="reservationSpa">
												<strong style="font-family: Quicksand; text-transform: uppercase;color: black;">spa pour <%= spa["time"] %>h </strong><br>
												<ul>
													<li><i>Type de logement :</i> <%= spa["type"][0] %></li>
													<li><i>Type d'installation :</i> <%= spa["type"][1] %></li>
													<li><i>Système d'eau : </i><%= spa["type"][2] %></li>
												</ul>

												<% if spa["option"] %>
												<i>Option :</i> <%= spa["option"][0][0] %> à <%= spa["option"][0][1] %> € <br>
												<% end %>

												<i>Prix : </i><%= spa["price"][0] %> €<br>
												<i>Acompte :</i><%= spa["price"][1] %> €<br>
												<div>
													<i>Date et heure de livraison : </i>le <%= session[:otherInfo]["date"] %> à <%= session[:otherInfo]["heureSpa"] %>
												</div>
											</div>
											<hr style="">
											<% end %>

										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<% end %>
						
						<% unless session[:myPrestation]["massage"].empty? %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>MASSAGE</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<% session[:myPrestation]["massage"].each do |massage| %>
											<div class="reservationSpa">
												<strong style="font-family: Quicksand; text-transform: uppercase;color: black;">Massage pour <%= massage["ca"] %></strong>	<br>
												<i>Type de massage : </i> <%= massage["su"] %><br>
												<i>Prix : </i><%= massage["price"][1] %> €<br>
												<i>Acompte : </i> <%= massage["price"][2] %> €
											</div>
															<hr style="">

											<% end %>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<% end %>

						<% unless session[:otherInfo]["cadeau"].empty? %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>PRODUITS</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<% session[:otherInfo]["cadeau"].each do |cadeau| %>
											<div class="reservationSpa">
												<%= cadeau[0] %> : <%= cadeau[2] %><br>
												Prix : <%= cadeau[1].to_f * cadeau[2].to_i %> €
											</div>
											<% end %>  
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<% end %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>INFOS COMPLEMENTAIRES</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<div class="reservationSpa">
												@order
<strong>Adresse de livraison:<strong> <br>
&nbsp;&nbsp;&nbsp;-Pays: <%= @order.delivery_pays %> <br>
&nbsp;&nbsp;&nbsp;-Ville: <%= @order.delivery_ville %> <br>
&nbsp;&nbsp;&nbsp;-Adresse: <%= @order.delivery_adresse %> <br>







	<td> 
		<strong><h3>ADRESSE DE LIVRAISON</h3></strong> 

		<strong>Adresse: </strong>  <br>
		<strong>Complement d'adresse: </strong> <%= @order.delivery_adresse_complet %> <br>
		<strong>Code Postal:</strong>  <%= @order.delivery_code_postal %> <br>
		<strong>Ville: </strong> <%= @order.delivery_ville %> <br>
		<strong>Pays: </strong> <%= @order.delivery_pays %> <br>	
	</td>

	<td style="text-align: left;"> 

		<strong><h3>ADRESSE DE FACTURATION</h3></strong> 

		<strong>Adresse: </strong>  <br>
		<strong>Complement d'adresse: </strong> <%= @order.billing_adresse_complet %> <br>
		<strong>Code Postal: </strong> <%= @order.billing_code_postal %> <br>
		<strong>Ville: </strong> <%= @order.billing_ville %> <br>
		<strong>Pays: </strong> <%= @order.billing_pays %> <br>





												Pays : <%= session[:otherInfo]["pays"] %> <br>
												Departement : <%= session[:otherInfo]["department"] %><br>
												Adresse de facturation: <%= @order.billing_adresse %><br>
												Adresse de livraison: <%= @order.delivery_adresse %><br>
											</div>
											
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>

					</div>
				</div>
				
				
			</section>
		</div>

		<div class="col-sm-4">
			<div class="alert alert-success">
				Prix Total: <strong><%= @totalAcompte + @totalPrice %> € </strong><br>
				Montant à régler sur place(CB ou éspèces uniquement) : <strong><%= @totalPrice %> €</strong><br>
				<span>Acompte à régler en ligne: <strong><%= @totalAcompte %> €</strong></span>
				<form method="post" action="https://payment-webinit.simu.mercanet.bnpparibas.net/paymentInit">
					<input type="hidden" name="Data" value="<%=@data%>">
					<input type="hidden" name="InterfaceVersion" value="HP_2.20">
					<input type="hidden" name="Seal" value="<%=@seal%>"> <br>
					<center><input type="submit" value="Payer via CB" class="confirm-command btn btn-primary btn-resa-text text-btn btn-resa-text"></center><br>
				</form>
			</div>
			<center class="infoImportant">
				<h4><i class="fa fa-exclamation-circle" aria-hidden="true"></i> IMPORTANT</h4>
				<p class="p-important">Ce devis ne tient pas compte des éventuels frais de déplacement (pour les services spa/massage) qui pourrait vous etre facturés selon votre ville. Pour plus d'information veuillez nous contacter.</p>
				<hr class="interligne">
				<p class="p-important">Les acomptes ne s'appliquent qu'aux services(Spa/massages). Pour les produits, le montant est réglé dans sa totalité en ligne.</p>
			</center>

		</div>
	</div>

</div>
