<link href="/css/summary.css" rel="stylesheet">
<div class="container" style="background: white;">

	<div class="secotionTitle">
		<h2 id="service" class="poli1 police_massage"><span>Récapitulatif de votre commande</span></h2>
	</div>
	<% priceTotal = 0 %>
	<% acompteTotal = 0 %>

	<div class="row">
		<div class="col-sm-8">
			<section class="clearfix orderSection padding">
				<div class="col-xs-12">
					<div class="innerWrapper">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>LOCATION SPA</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<% session[:myPrestation]["spa"].each do |spa| %> 
											<div class="reservationSpa">
												Durée : <%= spa["time"] %>h<br>
												<ul>
													<li>Type de logement : <%= spa["type"][0] %></li>
													<li>Type d'installation : <%= spa["type"][1] %></li>
													<li>Système d'eau : <%= spa["type"][2] %></li>
												</ul>

												<% if spa["option"] %>
												Option : <%= spa["option"][0][0] %> à <%= spa["option"][0][1] %> € <br>
												<% acompteTotal += spa["option"][0][1].to_f %>
												<% end %>

												Prix : <%= spa["price"][0] %> €<br>
												Acompte :<%= spa["price"][1] %> €<br>
												<div>
													Date et heure de livraison : le <%= session[:otherInfo]["date"] %> à <%= session[:otherInfo]["heureSpa"] %>
												</div>
											</div>

											<% priceTotal += spa["price"][0].to_f %>
											<% acompteTotal += spa["price"][1].to_f %>
											<% end %>

										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>MASSAGE</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<% session[:myPrestation]["massage"].each do |massage| %>
											<div class="reservationSpa">
												Pour : <%= massage["ca"] %><br>
												Type de massage : <%= massage["su"] %><br>
												Prix : <%= massage["price"][1] %> €<br>
												Acompte : <%= massage["price"][2] %> €
											</div>
											
											<% priceTotal += massage["price"][1].to_f %>
											<% acompteTotal += massage["price"][2].to_f %>

											<% end %>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>


						<% unless session[:otherInfo]["cadeau"].empty? %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>PRODUITS</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<% session[:otherInfo]["cadeau"].each do |cadeau| %>
											<div class="reservationSpa">
												<%= cadeau[0] %> : <%= cadeau[2] %><br>
												Prix : <%= cadeau[1].to_f * cadeau[2].to_i %> €
											</div>
											<% acompteTotal += cadeau[1].to_f*cadeau[2].to_i %>
											<% end %>  
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<% end %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>INFOS COMPLEMENTAIRES</th>

									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<div class="reservationSpa">
												Pays : <%= session[:otherInfo]["pays"] %> <br>
												Departement : <%= session[:otherInfo]["department"] %><br>
												Adresse de facturation: <%= session[:otherInfo]["adresseF"] %> <br>
												Adresse de livraison: <%= session[:otherInfo]["adresseL"] %> <br>
											</div>
											
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>

					</div>
				</div>
				
				
			</section>
		</div>

		<div class="col-sm-4">
			<div class="alert alert-success">
				Prix Total: <strong><%= priceTotal + acompteTotal %> € </strong><br>
				Accompte à régler en ligne: <strong><%= acompteTotal %> €</strong><br>
				Montant à régler sur place(CB ou éspèces uniquement) : <strong><%= priceTotal %> €</strong><br>
			</div>
			<center class="infoImportant">
				<h4><i class="fa fa-exclamation-circle" aria-hidden="true"></i> IMPORTANT</h4>
				<p class="p-important">Ce devis ne tient pas compte des éventuels frais de déplacement (pour les services spa/massage) qui pourrait vous etre facturés selon votre ville. Pour plus d'information veuillez nous contacter.</p>
				<hr class="interligne">
				<p class="p-important">Les acomptes ne s'appliquent qu'aux services(Spa/massages). Pour les produits, le montant est réglé dans sa totalité en ligne.</p>
			</center>

		</div>
	</div>
	<div class="btn-resa">
		<a href="<%= payment_path %>" class="confirm-command btn btn-primary text-btn btn-resa-text">Je finalise</a>
	</div>

</div>
