<link href="/css/summary.css" rel="stylesheet">
<div class="container" style="background: white;">
	<style>
		.i{
			margin-left: 10px;
		}
	</style>

	<div class="secotionTitle">
		<h2 id="service" class="poli1 police_massage"><span>Récapitulatif de votre commande</span></h2>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<section class="clearfix orderSection padding">
				<div class="col-xs-12">
					<div class="innerWrapper">

						<% if @order.is_spa %>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>LOCATION SPA</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<% @order.order_spas.each do |o_spa| %> 
											<div class="reservationSpa">
												<strong style="font-family: Quicksand; text-transform: uppercase;color: black;">spa pour <%= o_spa.spa.duration %>h </strong><br>
												<ul>
													<li><i>Type de logement :</i> <%= o_spa.logement %></li>
													<li><i>Type d'installation :</i> <%= o_spa.installation %></li>
													<li><i>Système d'eau : </i><%= o_spa.syteme_eau %></li>
												</ul>
												<% price_spa = 0 %>
												<% acompte_spa = 0 %>

												<% if @order.isExceptional? %>
													<% price_spa = o_spa.spa.exceptional_price.to_i %>
													<% acompte_spa = o_spa.spa.exceptional_acompte.to_i %>
												<% else %>
													<% price_spa = o_spa.spa.ordinary_price.to_i %>
													<% acompte_spa = o_spa.spa.ordinary_acompte.to_i %>
												<% end %>

												<% unless o_spa.spa_ambiance.nil? %>
													<i>Option :</i> <%= o_spa.spa_ambiance.name %><br>
													<i>Prix : </i><%= price_spa + o_spa.spa_ambiance.price.to_i %>€<br>
												<% else %>
													<i>Prix : </i><%= price_spa %>€<br>
												<% end %>
												<i>Acompte : </i><%= acompte_spa %>€
											</div>
											<hr style="">
											<% end %>
											<div class="reservationSpa">
												<i>Date et heure de livraison : </i>le <%= @order.prestation_date %> à <%= @time_spa %>
											</div>
											<hr style="">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<% end %>

						<% if @order.is_massage %>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>MASSAGE</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<% price_massage = 0 %>
												<% acompte_massage = 0 %>
												<% @order.order_massages.each do |o_massage| %>
													<div class="reservationSpa">
														<strong style="font-family: Quicksand; text-transform: uppercase;color: black;">Massage pour <%= o_massage.massage.name %></strong>	<br>
														<dl>
															<dt><i>Type de massage : </i></dt>
														<% o_massage.order_massage_types.each do |o_type| %>
															<% if @order.isExceptional? %>
																<% price_massage = o_type.massage_duration_price.exceptional_price.to_i %>
																<% acompte_massage = o_type.massage_duration_price.exceptional_acompte.to_i %>
															<% else %>
																<% price_massage = o_type.massage_duration_price.ordinary_price.to_i %>
																<% acompte_massage = o_type.massage_duration_price.ordinary_acompte.to_i %>
															<% end %>

															<dd><%= o_type.massage_type.name %>
																<li><i>Prix : </i><%= price_massage %>€</li>
																<li><i>Acompte : </i> <%= acompte_massage %>€</li>
															</dd>
														<% end %>
														</dl>
													</div>
												<hr style="">
												<% end %>
												<div class="reservationSpa">
													<i>Date et heure de livraison : </i>le <%= @order.prestation_date %> à <%= @time_massage %>
												</div>
												<hr style="">
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						<% end %>

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>INFOS COMPLÉMENTAIRES</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="reservationSpa">
												Pays : <%= @order.country.name %> <br>
												<% unless @order.department.nil? %>
												Département : <%= @order.department.name %><br>
												<% end %>
												Adresse de facturation : <%= @order.billing_adresse %><br>
												Complément d'adresse de facturation : <%= @order.billing_adresse_complet %><br>
												Adresse de livraison : <%= @order.delivery_adresse %><br>
												Complément d'adresse de livraison : <%= @order.delivery_adresse_complet %><br>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>		
			</section>
		</div>

		<div class="col-sm-4">
			<div class="alert alert-success">
				<% unless @order.code_promo.nil? %>
					Code promo : reduction de <b><%= @order.code_promo.split("-|-")[1].to_i %>€</b> sur l'acompte.<br>
				<% end %>
				Prix Total : <strong><%= @totalPrice %>€</strong><br>
				<span>Acompte à régler en ligne : <strong><%= @totalAcompte %>€</strong></span><br>
				Montant à régler sur place (CB ou éspèces uniquement) : <strong><%= @totalPrice - @totalAcompte %>€</strong><br>
				<form method="post" action="https://payment-webinit.simu.mercanet.bnpparibas.net/paymentInit">
					<input type="hidden" name="Data" value="<%=@data%>">
					<input type="hidden" name="InterfaceVersion" value="HP_2.20">
					<input type="hidden" name="Seal" value="<%=@seal%>"> <br>
					<center><input type="submit" value="Payer mon acompte" class="confirm-command btn btn-primary btn-resa-text text-btn btn-resa-text"></center><br>
				</form>
			</div>
			<center class="infoImportant">
				<h4><i class="fa fa-exclamation-circle i" aria-hidden="true"></i> IMPORTANT</h4>
				<p class="p-important">Ce devis ne tient pas compte des éventuels frais de déplacement (pour les services spa/massage) qui pourraient vous être facturés selon votre ville. Pour plus d'informations veuillez nous contacter.</p>
				
			</center>

		</div>
	</div>

</div>
