mainLoad()
function mainLoad(){
	let errorForDataFormulaire = $("#errorForDataFormulaire")
	if (errorForDataFormulaire.length > 0) {
		errorForDataFormulaire.addClass("hidden")
	}
	let error = "<%= @error %>"
	if(error == ""){
		<% if @services.empty? %>
			alert("Oups, le service n’est pas disponible actuellement dans votre zone ! Nous oeuvrons pour qu’il le soit prochainement.")
		<% else %>
			$("#overlay").css("display","none")
			editSessionAndDomValue()
		<% end %>
	}else{
		$("#errorInZone").html(error)
		$("#errorInZone").removeClass("hidden");
	}
}
function editSessionAndDomValue(){
	sessionStorage.setItem("massages","[]")
	sessionStorage.setItem("spas","[]")
	sessionStorage.setItem("zone","{}")
	let zone = JSON.parse(sessionStorage.getItem("zone"))
	zone.country = "<%= @country.name %>"
	zone.date = "<%= @date %>"
	zone.services = ["<%= @services[0] %>","<%= @services[1] %>"]
	let nameDepart = ""
	<% if @department != "" %>
		$("#inpdepartment").val("<%= @department.name %>");
		zone.department = "<%= @department.name %>"
		nameDepart = "<i><strong class=\"label-selected\">Departement : </strong></i><%= @department.name %>"
	<% else %>
		$("#inpdepartment").val("");
	<% end %>
	sessionStorage.setItem("zone",JSON.stringify(zone));
	<% unless @services.include?("Massage") %>
		$("#massage-fafana").addClass("hidden")
		sessionStorage.setItem("spa","[]")
	<% else %>
		$("#massage-fafana").removeClass("hidden")
	<% end %>

	<% unless @services.include?("Location spa") %>
		$("#loc-spa-fafana").addClass("hidden")
		sessionStorage.setItem("massages","[]")
	<% else %>
		$("#loc-spa-fafana").removeClass("hidden")
	<% end %>
	$("#inpdate").val("<%= @date %>")
	$("#inppays").val("<%= @country.name %>")
	let $valueCountry = $('#zode-and-date-selected');
	$valueCountry.html("<div class=\"pays-selected\"><i><strong class=\"label-selected\">Pays : </strong></i><%= @country.name %> <br>"+nameDepart+"<br> <i><strong class=\"label-selected\">Date de livraison : </strong></i><%= @date %> <br><button class=\"btn btn-primary btn-pays\" id=\"openZoneChoice\">Modifier</button></div>");
	$("#openZoneChoice").click(function(){
		$("#errorInZone").addClass("hidden");
		$("#overlay").css("display","block")
	});
	$("#number_man").html("0")
	$("#number_woman").html("0")
	$("#select-list-massage").html("")
	$("#number-spa").html("0")
	$("#select-list-spa").html("")
	$("#warnning-message").removeClass("hidden")
	$(".presta-list").html("")
	$(".presta-spa-list").html("")
	$("#inpcode").val("");
	$("#codeP").val("")
	$("#alert-code").addClass("hidden");
	$("#form-promo-code").removeClass("hidden");
}
