mainLoad()

function mainLoad(){
	let errorForDataFormulaire = document.getElementById("errorForDataFormulaire")
	if (errorForDataFormulaire) {
		errorForDataFormulaire.classList.add("hidden")
	}
	let error = "<%= @error %>"
	if(error == ""){
		<% if @services.empty? %>
			alert("Oups, le service n’est pas disponible actuellement dans votre zone ! Nous oeuvrons pour qu’il le soit prochainement.")
		<% else %>
			document.getElementById("overlay").style.display = "none"
			editSessionAndDomValue()
		<% end %>
	}else{
		document.getElementById("errorInZone").classList.remove("hidden")
		document.getElementById("errorInZone").innerHTML = error
	}
}

function editSessionAndDomValue(){

	sessionStorage.setItem("prestations","{}")
	sessionStorage.setItem("spa","[]")
	sessionStorage.setItem("massages","[]")
	sessionStorage.setItem("cadeau","[]")
	sessionStorage.setItem("inc","0")
	sessionStorage.setItem("zone","{}")

	let zone = JSON.parse(sessionStorage.getItem("zone"))
	zone.country = "<%= @country %>"
	zone.services = ["<%= @services[0] %>","<%= @services[1] %>"]
	let nameDepart = ""
	<% if @department != "" %>
		zone.department = "<%= @department %>"
		nameDepart = "<i><strong class=\"label-selected\">Departement : </strong></i><%= @department %>"
	<% else %>
		delete zone.department
	<% end %>
	zone.date = "<%= @date %>"
	sessionStorage.setItem("zone",JSON.stringify(zone))

	<% unless @services.include?("Massage") %>
		document.getElementById("massage-fafana").classList.add("hidden")
		sessionStorage.setItem("spa","[]")
	<% else %>
		document.getElementById("massage-fafana").classList.remove("hidden")
	<% end %>

	<% unless @services.include?("Location spa") %>
		document.getElementById("loc-spa-fafana").classList.add("hidden")
		sessionStorage.setItem("massages","[]")
	<% else %>
		document.getElementById("loc-spa-fafana").classList.remove("hidden")
	<% end %>

	let valueCountry = document.getElementById('zode-and-date-selected')
	valueCountry.innerHTML = "<div class=\"pays-selected\"><i><strong class=\"label-selected\">Pays : </strong></i><%= @country %> <br>"+nameDepart+"<br> <i><strong class=\"label-selected\">Date de livraison : </strong></i><%= @date %> <br><button class=\"btn btn-primary btn-pays\" id=\"openZoneChoice\">Modifier</button></div>"

	document.getElementById("openZoneChoice").addEventListener('click',openZone);

	// Edition des elements !
	resetValueInDom()
}

function openZone(){
	document.getElementById("errorInZone").classList.add("hidden")
	document.getElementById("overlay").style.display = "block"
}

function resetValueInDom(){
	document.getElementById('number-spa').innerHTML = "0"
	document.getElementById('number-Homme').innerHTML = "0"
	document.getElementById('number-Femme').innerHTML = "0"
	document.getElementById('number-cart-ok').innerHTML = "0"

	document.getElementById('massage-input').innerHTML = ""
	document.getElementById('spa-input').innerHTML = ""

	document.getElementById('empty-order').classList.remove("hidden")

	document.getElementById('spa-order').classList.add("hidden")
	document.getElementById('massage-order').classList.add("hidden")
	document.getElementById('cadeau-order').classList.add("hidden")

	document.getElementById('total-price').innerHTML = "0"
	document.getElementById('total-acompte').innerHTML = "0"

	// document.getElementById('form-promo-code').classList.remove("hidden")

	let cdeaus = document.querySelectorAll('.nbr-cadeau-wa');
	cdeaus.forEach(cadeau => {
		cadeau.innerHTML = "0"
	});

}
