<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <section class="clearfix formArea">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
            <div class="panel panel-default formPart">
              <div class="panel-heading patternbg">ACCEDER COMPTE <span>ADMIN</span></div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!--<input type="email" class="form-control" id="email" placeholder="Email">-->
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"Votre Email" %>
                  </div>

                  <div class="form-group">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <!--<input type="password" class="form-control" id="pwd" placeholder="Password">-->

                    <%= f.password_field :password, autocomplete: "current-password",class:"form-control",placeholder:"Mot de Passe" %>

                  </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="checkbox">
                      <label><!--<input type="checkbox"> Remember me--><%= f.check_box :remember_me %><%= f.label :Se_souvenir_de_moi %></label>
                    </div>
                  <% end %>
                  <!--<button type="submit" class="btn btn-primary btn-block">Log In</button>-->
                  <%= f.submit "SE CONNECTER ",class:"btn btn-primary btn-block" %>
                </form>
              </div>
            </div>

          </div>
         
    </section>

<% end %>

