<h1>Editer un prestataire</h1>
<%= form_for(@prestataire, url: update_prestataires_path(@prestataire.id)) do |form| %>
  <% if @prestataire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prestataire.errors.count, "error") %> prohibited this prestataire from being saved:</h2>
      <ul>
        <% @prestataire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse %>
  </div>

  <div class="field">
    <%= form.label :raison_sociale %>
    <%= form.text_field :raison_sociale %>
  </div>

  <div class="field">
    <%= form.label :siren %>
    <%= form.text_field :siren %>
  </div>

  <div class="field">
    <%= form.label :sexe %>
    <%= form.text_field :sexe %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>
  
  <div class="field">
    <%= form.label :ville %>
    <%= form.text_field :ville %>
  </div>
  
  <div class="field">
    <%= form.label :pays %>
    <%= form.text_field :pays %>
  </div>

  <div class="field">
    <h6>CHOIX DES SERVICE</h6>
    <% hidden_field_tag "service[service_ids][]", nil %> 
    <% @services.each do |service| %>
      <%= check_box_tag "service[service_ids][]", service.id, @prestataire.service_ids.include?(service.id), id:dom_id(service) %>
      <%= label_tag dom_id(service), service.name %><br>
    <% end %>
  </div>

<hr>
  <div class="field">
    <h6>CHOIX DES PAYS</h6>
    <% hidden_field_tag "prestataire[country_ids][]", nil %> 
    <% @countries.each do |country| %>
      <%= check_box_tag "prestataire[country_ids][]", country.id, @prestataire.country_ids.include?(country.id), id:dom_id(country) %>
      <%= label_tag dom_id(country), country.name %><br>
    <% end %>
  </div>

  <div class="field">
    <h6>CHOIX DES DEPARTEMENTS</h6>
    <% hidden_field_tag "prestataire[department_ids][]", nil %> 
    <% @departments.each do |department| %>
      <%= check_box_tag "prestataire[department_ids][]", department.id, @prestataire.department_ids.include?(department.id), id:dom_id(department) %>
      <%= label_tag dom_id(department), department.name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Retour', index_prestataires_path %>
