<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

<!-- PLUGINS CSS STYLE -->
<link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="#" rel="stylesheet" id="bootstrap-rtl">
<link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/plugins/selectbox/select_option1.css" rel="stylesheet">
<link href="/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" media="screen">
<link href="/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
<link href="/plugins/isotope/isotope.min.css" rel="stylesheet">
<link href="/plugins/datepicker/datepicker.min.css" rel="stylesheet">
<link href="/plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">

<!-- CUSTOM CSS -->
<link href="/css/style.css" rel="stylesheet">
<link href="#" rel="stylesheet" id="rtl_css">
<link href="/css/default.css" rel="stylesheet" id="option_color">
<link href="/css/static_page.css" rel="stylesheet">
<link rel="stylesheet" href="carousel/carousel.css">
<link href="/css/product.css" rel="stylesheet">

<!-- FAVICON -->
<link href="img/favicon.png" rel="shortcut icon">


<link href="/css/partner.css" rel="stylesheet">
<link href="/css/page-devise.css" rel="stylesheet">
<style>

  #dropZone {
    width: 100px !important;
    height: 50px;
    padding-left: 500px;
    padding-right: 50px;
    padding-top: 20px;
  }

  .hida {
    position: absolute;
    top: 0px;
    left: 10px;
  }
</style>

<!-- SECTION5 -->
<div class="secotionTitle contactTitle">
  <h2 class="police_massage"><span>Nouveau prestataire</span></h2>
</div>

<%= form_for(@prestataire, url: new_prestataires_path) do |form| %>
<% if @prestataire.errors.any? %>

<div class="modal fade" id="flash">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-titl">Cocooning spa</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          <div id="error_explanation">
            <h3 style="text-transform: uppercase;font-family: Quicksand;text-align: center;">
              <%= pluralize(@prestataire.errors.count, "error") %> a empêchée(s) ce prestataire d'être sauvegardé:
            </h3>
            <ul>
              <% @prestataire.errors.full_messages.each do |message| %>
              <li style="text-align: center; text-transform: uppercase;font-family: Quicksand;"><%= message %></li>
              <% end %>
            </ul>
          </div>               
        </div>

      </div>
    </div>
  </div>
</div>

<% end %>

<% if flash[:list_message_errors] %>

<div class="modal fade" id="flash">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-titl">Cocooning spa</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          <% flash[:list_message_errors].each do |message| %>
          <li style="text-align: center; text-transform: uppercase;font-family: Quicksand;"><%= message %></li>  
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<% end %>

<div class="row">

 <div class="col-sm-12">
  <div class="switch-field">
    <input type="radio" id="radio-one" name="prestataire[sexe]" value="Féminin" required/>
    <label for="radio-one" class="radio-one">Madame</label>
    <span class="label2">
      <input type="radio" id="radio-two" name="prestataire[sexe]" value="Masculin" />
      <label for="radio-two" class="radio-two">Monsieur</label>
    </span>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <%= form.text_field :last_name, autofocus: true, autocomplete: "Nom", class:"form-control", id:"fullname", placeholder:"Nom",:required => true %>

  </div>

  <div class="form-group">
    <%= form.text_field :first_name, autofocus: true, autocomplete: "Prénom", class:"form-control", id:"fullname", placeholder:"Prénom",:required => true %>

  </div>

  <div class="dateSelect form-half form-left select-date">
    <div class="input-group date ed-datepicker filterDate input-calendar" data-provide="datepicker">
      <%= form.text_field :date_of_birth , autofocus: true, autocomplete: "DateDeNaissance", class:"form-control form-controldate", id:"date", placeholder:"Date de naissance",:required => true %>

      <div class="input-group-addon calendar-icone">
        <span class="fa fa-calendar"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.text_field :raison_sociale, autofocus: true, autocomplete: "RaisonSociale", class:"form-control", id:"fullname", placeholder:"Raison sociale" %>

  </div>

  <div class="form-group">

    <%= form.text_field :siren, autofocus: true, autocomplete: "Siren", class:"form-control", id:"fullname", placeholder:"Siren" %>

  </div>

  <div class="form-group">
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"fullname", placeholder:"Email",:required => true %>
  </div>

  <div class="form-group">
    <%= form.telephone_field :tel, autofocus: true, autocomplete: "Tel", class:"form-control", id:"fullname", placeholder:"Numéro tél",:required => true %>
  </div>

</div>

<div class="col-sm-6">

  <div class="form-group">
    <%= form.text_field :adresse, autofocus: true, autocomplete: "Adresse", class:"form-control", id:"fullname", placeholder:"Adresse",:required => true %>

  </div>

  <div class="form-group">
    <%= form.text_field :adresse_complet, autofocus: true, autocomplete: "Complément adresse", class:"form-control", id:"fullname", placeholder:"Complément adresse" %>
  </div>

  <div class="form-group">
    <%= form.text_field :zip_code, autofocus: true, autocomplete: "zipcode", class:"form-control", id:"fullname", placeholder:"Code Postal",:required => true %>
  </div>

  <div class="form-group form-groupp">
    <%= form.text_field :ville, autofocus: true, autocomplete: "ville", class:"form-control", id:"fullname", placeholder:"Ville",:required => true %>

  </div>

  <div class="form-group">
    <%= form.text_field :pays, autofocus: true, autocomplete: "Pays", class:"form-control", id:"fullname", placeholder:"Pays",:required => true %>

  </div>

  <dl class="form-group dropdown">
    <input autofocus="autofocus" class="form-control" id="fullname" disabled="disabled" placeholder="Zone d'actions" type="text">
    <dt>
      <i >
        <span class="hida fa fa-chevron-down" id='dropZone'></span>    
        <p class="multiSel"></p>  
      </i>
    </dt>
    <dd>
      <div class="mutliSelect">
        <ul>
          <% hidden_field_tag "prestataire[country_ids][]", nil %> 
          <% @countries.each do |country| %>
          <li>
            <%= check_box_tag "prestataire[country_ids][]", country.id, @prestataire.country_ids.include?(country.id), id:dom_id(country), class:"js-country", 'data-cname':country.name %>
            <%= label_tag dom_id(country), country.name %><br>
          </li> 
          <% end %>

          <div id="js-department-list" class="hidden">
            <h6>Dans quels Départements</h6>
            <div class="departements">
              <% hidden_field_tag "prestataire[department_ids][]", nil %> 
              <% @departments.each do |department| %>
              <%= check_box_tag "prestataire[department_ids][]", department.id, @prestataire.department_ids.include?(department.id), id:dom_id(department), class:"js-department" %>
              <%= label_tag dom_id(department), department.name %><br>
              <% end %>
            </div>
          </div>

        </ul>
      </div>
    </dd>

    <div class="choix">
      <i class="domaine">Choix Domaine d’activité : </i> 

      <% hidden_field_tag "service[service_ids][]", nil %> 
      <% @services.each do |service| %>

      <%= label_tag dom_id(service), service.name %>
      <label class="switch">
        <%= check_box_tag "service[service_ids][]", service.id, @prestataire.service_ids.include?(service.id), id:dom_id(service), class:"switch-input" %>
        <span class="switch-label" data-on="Oui" data-off="Non"></span>
        <span class="switch-handle"></span>
      </label>
      <% end %>

    </div>
  </dl>
</div>


<div class="col-sm-12">
  <div class="actions">
    <center><%= form.submit "Valider", class:"btn btn-primary btn-block" %></center> </br>
    <center><%= link_to 'Retour', index_prestataires_path, class:"btn btn-primary btn-block" %>
    </center>
  </div>
</div>
<% end %>
<!-- JAVASCRIPTS -->
<script data-turbolinks-track = "reload" src="/plugins/jquery/jquery.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/isotope/isotope.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/fancybox/jquery.fancybox.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/isotope/isotope-triger.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/smoothscroll/SmoothScroll.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script data-turbolinks-track = "reload" src="/plugins/datepicker/bootstrap-datepicker.js"></script>

<script data-turbolinks-track = "reload" src="/plugins/syotimer/jquery.syotimer.min.js"></script>


<script>

  main();

  function main(){
    let countries = document.querySelectorAll('.js-country');

    countries.forEach(country => {
      country.addEventListener('change',showDepartementIfFrance);
      if(country.dataset.cname == "France" && country.checked == true){
        document.getElementById("js-department-list").classList.remove("hidden")
      }
    }); 
  }

  function showDepartementIfFrance() {
    let departments = document.querySelectorAll('.js-department');
    if(this.checked == true && this.dataset.cname == "France"){
      document.getElementById("js-department-list").classList.remove("hidden")
    }
    if(this.checked == false && this.dataset.cname == "France"){
      document.getElementById("js-department-list").classList.remove("hidden")
      document.getElementById("js-department-list").classList.add("hidden")
      departments.forEach(department => {
        department.checked = false
      })
    }
  }


</script>

<script>

  $(".dropdown dt i").on('click', function () {
    $(".dropdown dd ul").slideToggle('fast');
  });

  $(".dropdown dd ul li a").on('click', function () {
    $(".dropdown dd ul").hide();
  });

  function getSelectedValue(id) {
   return $("#" + id).find("dt a span.value").html();
 }

 $(document).bind('click', function (e) {
  var $clicked = $(e.target);
  if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
});


 $('.mutliSelect input[type="checkbox"]').on('click', function () {

  var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
  title = $(this).val() + ",";

  if ($(this).is(':checked')) {
    var html = '<span title="' + title + '" class="hidden">' + title + '</span>';
    $('.multiSel').append(html);
    /*$(".hida").hide();*/ 
  } 
  else {
    $('span[title="' + title + '"]').remove();
    var ret = $(".hida");
    $('.dropdown dt i').append(ret);

  }
});


</script>




<script>
$('#flash').modal('show');

setTimeout(function() {
    $('#flash').modal('hide');
}, 6000);

</script>