<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-sm-9">
		<p>
			<strong><%= @prestataire.sexe %> <%= @prestataire.first_name %> <%= @prestataire.last_name %></strong>
		</p>

		<p>
			<strong>Email:</strong> <%= @prestataire.email %>
		</p>

		<p>
			<strong>Né(e): </strong> <%= @prestataire.date_of_birth %>
		</p>

		<p>
			<strong>Raison sociale:</strong> <%= @prestataire.raison_sociale %>
		</p>

		<p>
			<strong>Siren:</strong> <%= @prestataire.siren %>
		</p>

		<p>
			<strong>Numero télephone:</strong> <%= @prestataire.tel %>
		</p>

		<p>
			<strong>Adresse:</strong> <%= @prestataire.adresse %><br>
			<strong>Code postal:</strong> <%= @prestataire.zip_code %><br>
			<strong>Ville:</strong> <%= @prestataire.ville %><br>
			<strong>Pays:</strong> <%= @prestataire.pays %><br>
		</p>

	</div>

	<div class="col-sm-3">
		<strong>Ses services:</strong>
		<ul>
			<% @services.each do |service| %>
				<li><%= service.name %></li>
			<% end %>
		</ul>
		<strong>Pays</strong>
		<ul>
			<% @countries.each do |country| %>
				<li><%= country.name %></li>
			<% end %>
		</ul>

		<strong>Departement de france:</strong>
		<ul>
			<% @departments.each do |department| %>
				<li><%= department.name %></li>
			<% end %>
		</ul>
		
	</div>
</div>

<%= link_to 'Modifier', edit_prestataires_path(@prestataire.id) %><br>
<%= link_to 'Retour', index_prestataires_path %>
