
<div class="container">
  <div class="row inscri">
    <div class="col-sm-6 inscript">

      <div class="panel panel-default formPart panel-login" >
        <div class="panel-heading patternbg panelloginhead" ><center> <span>connexion</span></center></div>
        <div class="panel-body panel-body-login">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"fullname", placeholder:"email" %>
          </div>
          <div class="form-group">
            <i class="fa fa-key" aria-hidden="true"></i>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"fullname", placeholder:"mot de pass" %>
          </div>
          <div class="actions">
            <center><%= f.submit "ME CONNECTER", class:"btn btn-primary btn-block", id:"contact-submit-btn"%></center>
            <center><p><%= link_to "Mot de passe oublié ?", new_client_password_path %></p></center>
          </div>
          <% end %>

        </div>
      </div>
    </div>



    
    <div class="col-sm-4">
<div class="a-descendre">
      <div class="panel panel-default formPart panel-logi" >
        <div class="panel-heading patternbg panelloginhead" ><center> <span>NOUVEAU CLIENT</span></center></div>
        <div class="panel-body panel-body-login">
          
          
    <ul >
      <li class="li"><a href="<%=new_client_registration_path%>" class="btn btn-common btn-full-roundd btn-theme" id="contact-submit-btnn">CRÉER UN COMPTE</a></li>
    </ul>
        

        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


