<link href="/css/page-devise.css" rel="stylesheet">
<div class="container">
  <div class="row inscri">
    <div class="col-sm-6 inscript">

      <div class="formPart panel-login" >
        <div >
          <h2 class = "panel-title">CONNEXION</h2>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-controlDevise", id:"fullname", placeholder:"Email" %>
        </div>
        <div class="form-group">
          <i class="fa fa-key" aria-hidden="true"></i>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-controlDevise", id:"fullname", placeholder:"Mot de passe" %>
        </div>
        <div class="actions contac-submit-btn">
          <center><p><%= link_to "Mot de passe oublié ?", new_client_password_path %></p></center>
          <center><%= f.submit "ME CONNECTER", class:"btn btn-primary btn-block", id:"contac-submit-btn"%></center>

        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="a-descendre">
        <div >
          <h2 class = "panel-title">NOUVEAU CLIENT</h2>
        </div>
        <div class="btn-new-compte">
          <a href="<%=new_client_registration_path%>" class="btn btn-common btn-full-roundd btn-theme" id="contact-submit-btnn">CRÉER UN COMPTE</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<form action="#" class="group" method="post" onsubmit="return checkforblank()">
    <legend><span class="number">1</span>Departing & Arriving</legend>
    <fielset class="col-sm-6">
        <label for="FDestination">From</label>
        <select name="Location" id="Location" onchange="checkforblank()">
            <option value="Please Select">Please Select</option>
            <option value="Newport">Newport</option>
            <option value="Mahdi">Mahdi</option>
            <option value="Cardiff">Cardiff</option>
            <option value="Cilo">Cilo is</option>
        </select>
    </fieldset>
    <button>Save</button>
</form>

<script>

function checkforblank() {
    
    var location = document.getElementById('Location');
    var invalid = location.value == "Please Select";
 
    if (invalid) {
        alert('Please enter first name');
        location.className = 'error';
    }
    else {
        location.className = '';
    }
    
    return !invalid;
}
</script>