<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

  <style>
    .toolBarSelect{
      position: absolute;
      left: 880px;
    }

    .search-control{
      position: relative;
      left: 655px;
    }

  </style>


<section class="">
  	<div class="secotionTitle">
  		<h2 id="service" class="poli1 police_massage"><span>PRESTATAIRES</span></h2>
  	</div>

  	<div id="toolbar">
  		<select class="form-control toolBarSelect"> 

  			<option value="selected">Exporter les sélectionnés</option>
  			<option value="all">Exporter tous</option>

  		</select>
  		<div class="search-control">
  			<input class="form-control" id="myInputTraitée" type="text" placeholder="chercher dans la table..">
  		</div>
  	</div>

<div class="row">
	<div class="col-xs-12">
		<div class="innerWrapper">
			<div class="table-responsive">
				<table id="table" 
				data-toggle="table"
				data-filter-control="true" 
				data-show-export="true"
				data-click-to-select="true"
				data-toolbar="#toolbar"
				class="table-responsive"
				style="">
				<thead>

					<tr>
						<th data-field="stateTraitE" data-checkbox="true"></th>
						<th data-field="idTraitE" data-filter-control="input" data-sortable="true">N°</th>
						<th data-field="dateTraitE" data-filter-control="input" data-sortable="true">Date (MM/JJ/AAAA)</th>
						<th data-field="pestaTraitE" data-filter-control="select" data-sortable="true">Prestataire associé</th>
						<th data-field="nomTraitE">Nom du client</th>
						<th data-field="montantTraitE">Montant</th>
						<th data-field="zip_codeTraitE" data-filter-control="input">Code Postal</th>


						<th class="actionTableAdmin" data-field="actionTraitE"> <center style="line-height: 35px;">Actions
						</center>  
					</th>
				</tr>
			</thead>

			<tbody id="myTableTraitée">

				<% @orders_progress.each do |order| %>
					<% prestataires = order.prestataires %>
					<% prixAcompte = order.totalPrice %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.prestation_date %></td>
					<td>
						<% unless  prestataires.empty? %>
							<% prestataires.each do |prestataire| %>
								<li><%= prestataire.first_name %> <%= prestataire.last_name %></li>
							<% end %>
						<% else %>
							aucun
						<% end %>
					</td>
					<td><%= order.client.first_name %> <%= order.client.last_name %></td>
					<td><%= prixAcompte[0]+prixAcompte[1] %> €</td>
					<td><%= order.client.zip_code %></td>
					<td><a href="<%= admin_order_show_path(order.id) %>">Afficher détails</a></td>
				</tr>
				<% end %>

		</tbody>
	</table>
</div>
</div>
</div>
</section>


      <script>
//exporte les données sélectionnées
var $table = $('#table');

$(function() {
  $('#toolbar').find('select').change(function () {
    $table.bootstrapTable('destroy').bootstrapTable({
      exportDataType: $(this).val(),
      exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf']
    })
  }).trigger('change')
})


var trBoldBlue = $("table");

$(trBoldBlue).on("click", "tr", function (){
  $(this).toggleClass("bold-blue");
});

$(document).ready(function(){
  $("#myInputTraitée").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTableTraitée tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>