<h1>Commandes</h1>
<h2 style="color: #ec5598;">Commande en cours</h2>
<div class="commande-en-cours">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>N°</td>
					<td>Date <small>(MM/JJ/AAAA)</small></td>
					<td>Prestataire associé</td>
					<td>Nom Client</td>
					<td>Montant</td>
					<td>CP</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<% @orders_in_progress.each do |order| %>
					<% prestataires = order.prestataires %>
					<% prixAcompte = order.totalPrice %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.prestation_date %></td>
					<td>
						<% unless  prestataires.empty? %>
							<% prestataires.each do |prestataire| %>
								<li><%= prestataire.first_name %> <%= prestataire.last_name %></li>
							<% end %>
						<% else %>
							aucun
						<% end %>
					</td>
					<td><%= order.client.first_name %> <%= order.client.last_name %></td>
					<td><%= prixAcompte[0]+prixAcompte[1] %> €</td>
					<td><%= order.client.zip_code %></td>
					<td><a href="<%= admin_order_show_path(order.id) %>">Afficher détails</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<hr>

<h2 style="color: #ec5598;">Commande traitées</h2>
<div class="commande-traitees">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>N°</td>
					<td>Date <small>(MM/JJ/AAAA)</small></td>
					<td>Prestataire associé</td>
					<td>Nom Client</td>
					<td>Montant</td>
					<td>CP</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<% @orders_progress.each do |order| %>
					<% prestataires = order.prestataires %>
					<% prixAcompte = order.totalPrice %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.prestation_date %></td>
					<td>
						<% unless  prestataires.empty? %>
							<% prestataires.each do |prestataire| %>
								<li><%= prestataire.first_name %> <%= prestataire.last_name %></li>
							<% end %>
						<% else %>
							aucun
						<% end %>
					</td>
					<td><%= order.client.first_name %> <%= order.client.last_name %></td>
					<td><%= prixAcompte[0]+prixAcompte[1] %> €</td>
					<td><%= order.client.zip_code %></td>
					<td><a href="<%= admin_order_show_path(order.id) %>">Afficher détails</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<hr>

<h2 style="color: #ec5598;">Commande non traitées</h2>
<div class="commande-non-traitees">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>N°</td>
					<td>Date <small>(MM/JJ/AAAA)</small></td>
					<td>Prestataire associé</td>
					<td>Nom Client</td>
					<td>Montant</td>
					<td>CP</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<% @orders_not_progress.each do |order| %>
					<% prestataires = order.prestataires %>
					<% prixAcompte = order.totalPrice %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.prestation_date %></td>
					<td>
						<% unless  prestataires.empty? %>
							<% prestataires.each do |prestataire| %>
								<li><%= prestataire.first_name %> <%= prestataire.last_name %></li>
							<% end %>
						<% else %>
							aucun
						<% end %>
					</td>
					<td><%= order.client.first_name %> <%= order.client.last_name %></td>
					<td><%= prixAcompte[0]+prixAcompte[1] %> €</td>
					<td><%= order.client.zip_code %></td>
					<td><a href="<%= admin_order_show_path(order.id) %>">Afficher détails</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>