<h1>Liste des tous les commandes</h1>
<table>
	<thead>
	    <tr>
	      <th>Type de Service</th>
	      <th>Date de livraison</th>
	      <th>Adresse</th>
	      <th>Departement</th>
	      <th colspan="3">Action</th>
	    </tr>
	</thead>
	<tbody>
	    <% @orders.each do |order| %>
	      <tr>
	        <td><%= order.service.name %></td>
	        <td><%= order.datetime %></td>
			<td><%= order.adresse %></td>
			<td><%= order.department.namedepartment %></td>
			<td><%= link_to 'Afficher', show_admin_order_path(order.id) %></td>
        	<td><%= link_to 'Modifier', edit_admin_order_path(order.id) %></td>
        	<td><%= link_to 'Supprimer', destroy_admin_order_path(order.id), method: :delete, data: { confirm: 'Etes vous sur?' } %></td>
		  </tr>
		<% end %>
	</tbody>
</table>